// -------------------------
// button 엘리먼트 normalize
// -------------------------
@mixin button-normal {
  @include font-family("sans");
  @include font-weight("medium");
  @include font-smoothing;
  @include letter-spacing;
  @include line-height("heading");
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 100%;
  border: 1px solid transparent;
  text-decoration: none;
  transition-duration: $duration-fast-02;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  // Reset intrisic padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

// -------------------------
// list
// -------------------------
@mixin list {
  &__list + &__list::before {
    content: "";
    display: block;
    border-top: 1px solid $ui-04;
    margin: $spacing-2xs 0;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      background-color: $ui-01;
    }
  }

  &__button {
    @include text-overflow;
    @include button-normal;
    @include font-weight("regular");
    @include stable-padding($spacing-2xs, $spacing-xs);
    // width: 100%;
    flex: 1;
    height: $button-height-md;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    text-align: left;
    // &:hover:not(:disabled) {
    //   background-color: $ui-01;
    // }

    &:active {
      background-color: $ui-01;
    }
  }

  &__notification {
    @include stable-padding($spacing-2xs, $spacing-xs);
    display: flex;
    flex: 1;
    height: $button-height-md;
    cursor: default;
  }

  &__icon,
  &__subicon {
    vertical-align: middle;
    flex-shrink: 0;
  }

  &__icon + &__text,
  &__subicon + &__text {
    margin-left: $spacing-2xs;
  }

  &__button:active &__text {
    color: $primary;
  }

  &__button:active &__icon,
  &__button:active &__subicon {
    fill: $primary;
  }

  &__text {
    @include text-overflow;
    @include font-size("14");
    @include line-height("heading");
    vertical-align: middle;
    color: $text-01;
  }

  &__action-buttons {
    display: flex;
    margin-right: $spacing-xs;
    z-index: 1;
  }

  &__action-button {
    @include button-normal;
    padding: 0;
    border-radius: $field-border-radius;
    background-color: transparent;

    .button__text {
      @include font-size("13");
      margin-left: $spacing-xs;
      color: $text-03;
    }

    &:hover:not(:disabled) {
      background-color: $hover-row;
    }

    &:active:not(:disabled) {
      background-color: $hover-row;

      .svg-icon {
        fill: $primary;
      }

      .button__text {
        color: $primary;
      }
    }

    &:not(:last-child) {
      margin-right: $spacing-3xs;
    }
  }

  // -------------------------
  // checkbox, radio overwrite
  // -------------------------
  &__item .checkbox {
    @include text-overflow;
    @include stable-padding($spacing-2xs, $spacing-xs);
    // background-color: $ui-02;
    height: $button-height-md;
    flex-grow: 1;

    .checkbox__label {
      width: 100%;
    }

    .checkbox__input:checked {
      + .checkbox__label {
        color: $primary;
      }

      + .checkbox__label .svg-icon {
        fill: $primary;
      }

      + .checkbox__label span {
        color: $primary;
      }
    }

    &.checkbox--disabled,
    &.checkbox--disabled:hover {
      cursor: not-allowed;
      background-color: $ui-02;
    }
  }

  &__item .radio {
    @include text-overflow;
    @include stable-padding($spacing-2xs, $spacing-xs);
    // background-color: $ui-02;
    height: $button-height-md;
    flex: 1;

    .radio__label {
      width: 100%;
    }

    .radio__input:checked {
      + .radio__label {
        color: $primary;
      }

      + .checkbox__label span {
        color: $primary;
      }
    }

    &.radio--disabled,
    &.radio--disabled:hover {
      cursor: not-allowed;
      background-color: $ui-02;
    }
  }

  // -------------------------
  // Modifier: disabled
  // -------------------------
  &__item--disabled {
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }
  }

  &__item--disabled &__button,
  &__item--disabled &__action-button {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &__item--disabled &__button:active &__text {
    color: inherit;
  }

  &__item--disabled &__button:active &__icon,
  &__item--disabled &__button:active &__subicon {
    fill: $text-03;
  }

  &__item--disabled &__action-button:hover,
  &__item--disabled &__action-button:active {
    background-color: transparent;
  }

  &__item--disabled &__action-button:active &__icon,
  &__item--disabled &__action-button:active &__subicon {
    fill: $text-03;
  }

  // -------------------------
  // Modifier: selected
  // -------------------------
  &__item--selected {
    color: $primary;
  }

  &__item--selected &__text {
    color: $primary;
  }

  &__item--selected &__icon,
  &__item--selected &__subicon,
  &__item--selected &__action-button .svg-icon {
    fill: $primary;
  }

  &__item--selected &__button:active &__icon,
  &__item--selected &__button:active &__subicon,
  &__item--selected &__button:active .svg-icon {
    fill: $primary;
  }

  &__item--selected &__action-button .button__text {
    color: $primary;
  }
}

@mixin list--hidable {
  &--hidable &__action-buttons {
    display: none;
  }
  &--hidable &__item:not(.list__item--disabled):hover &__action-buttons {
    display: flex;
  }
}

@mixin button-list {
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: $spacing-xs;
  }

  &__item {
    width: calc(33.33% - 8px);
    margin: $spacing-2xs;

    &:hover {
      background-color: $ui-01;
    }
  }

  &__button {
    @include button-normal;
    @include font-weight("regular");
    @include stable-padding($spacing-2xs, $spacing-xs);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    color: inherit;
    text-align: center;

    // &:hover:not(:disabled) {
    //   background-color: $ui-01;
    // }

    &:active {
      background-color: $ui-01;
    }
  }

  &__icon {
    @include svg-icon-size($button-height-md);
    vertical-align: middle;
  }

  &__button:active {
    border: 1px solid $primary;
  }

  &__button:active &__text {
    color: $primary;
  }

  &__button:active &__icon,
  &__button:active &__subicon {
    fill: $primary;
  }

  &__text {
    @include text-overflow;
    @include font-size("14");
    @include line-height("heading");
    width: 100%;
    text-align: center;
    color: inherit;
  }
}
// -------------------------
// time-picker, date-picker
// -------------------------
@mixin picker {
  position: relative;

  &-selector {
    @include font-size("14");
    position: relative;
    display: inline-flex;
    align-items: center;
    height: rem(32px);
    padding: 0 $spacing-xl 0 $spacing-sm;
    border: 1px solid $ui-04;
    border-radius: $field-border-radius;
    background-color: $ui-02;
    transition: all $duration-fast-01 motion(standard, productive);

    &:hover {
      border-color: darken($ui-04, 15%);
    }

    &:hover &-selector__input {
      background-color: rgba($ui-02, 1);
      border-color: darken($ui-04, 15%);
    }

    &:hover &-selector__button {
      border-left-color: darken($ui-04, 15%);
      background-color: $ui-01;
    }
  }

  &-selector__input {
    @include font-family("sans");
    @include font-size("14");
    @include line-height("body");
    min-width: rem(127px);
    max-width: rem(148px);
    padding: 0;
    border: 0;
    outline: 0;
    background-color: $ui-02;
    color: $text-02;

    &::placeholder {
      @include font-weight("light");
      color: $text-05;
    }

    &[readonly],
    &[readonly]:hover,
    &[readonly]:focus {
      cursor: default;
      color: $text-01;
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
      cursor: not-allowed;
      background-color: $ui-02;
      // border-color: $ui-04;
      // opacity: 0.5;
      box-shadow: none;
    }
  }

  &-selector__button {
    @include button-normal;
    @include button--icon(6px, 20px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-color: $ui-04;
    border-width: 0 0 0 1px;
    background-color: $ui-02;
    transition: all $duration-fast-01 motion(standard, productive);
  }

  &-selector__separator {
    margin: 0 $spacing-xs;
    color: $text-02;
  }

  &-container {
    @include layer("overlay");
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: $spacing-2xs;
    background-color: $ui-02;
    border: 1px solid $ui-04;
  }

  // -------------------------
  // Modifier: focused, open
  // -------------------------
  &--open &-container {
    display: flex;
  }

  &--focused:hover,
  &--open:hover {
    border-color: $secondary;
  }

  &--focused:hover &-selector__button,
  &--open:hover &-selector__button {
    border-left-color: $secondary;
    background-color: rgba($secondary, 0.06);

    .svg-icon {
      fill: $secondary;
    }
  }

  &--focused &-selector,
  &--open &-selector {
    border-color: $secondary;
    box-shadow: 0 0 4px rgba($secondary, 0.65);
  }

  &--focused &-selector__button,
  &--open &-selector__button {
    border-left-color: $secondary;
    background-color: rgba($secondary, 0.06);

    .svg-icon {
      fill: $secondary;
    }
  }

  // -------------------------
  // Modifier: disabled
  // -------------------------
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--disabled:hover {
    border-color: $ui-04;
  }

  &--disabled:hover &-selector__button {
    border-left-color: $ui-04;
    background-color: $ui-02;
  }

  &--disabled:hover &-selector {
    border-color: $ui-04;
  }

  &--disabled &-selector__button,
  &--disabled &-selector__input {
    cursor: not-allowed;
  }
}
