// -------------------------
// Breadcrumb
// -------------------------
.breadcrumb {
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;

    & + & {
      padding-left: rem(28px);

      &:before {
        @include svg-icon-size(20px);
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.68306 14.8169C7.43898 14.5729 7.43898 14.1771 7.68306 13.9331L11.6161 10L7.68306 6.06694C7.43898 5.82286 7.43898 5.42714 7.68306 5.18306C7.92714 4.93898 8.32286 4.93898 8.56694 5.18306L12.9419 9.55806C13.186 9.80214 13.186 10.1979 12.9419 10.4419L8.56694 14.8169C8.32286 15.061 7.92714 15.061 7.68306 14.8169Z' fill='%2377889A'/%3E%3C/svg%3E");
        position: absolute;
        top: 50%;
        margin-top: rem(-10px);
        left: rem(4px);
      }
      &:last-child {
        .breadcrumb__link {
          color: $text-03;
        }
      }
    }
  }

  &__icon {
    @include svg-icon-size(20px);
    margin-right: $spacing-xs;
  }

  &__link {
    @include font-size("16");
    color: $text-02;
    &:hover {
      color: $text-02;
    }
  }

  &--sm {
    .breadcrumb {
      &__link {
        @include font-size("14");
      }
    }
  }

  &--functional {
    .breadcrumb {
      &__item {
        &:last-child {
          .breadcrumb__link {
            color: $secondary;
          }
        }

        & + .breadcrumb__item {
          padding-left: rem(20px);

          &:before {
            left: 0;
          }
        }
      }
      &__link {
        color: $text-03;
        &:hover {
          color: $text-03;
        }
      }
      &__button.button--icon {
        width: rem(20px);
        height: rem(20px);
        padding: 0;
        margin-left: $spacing-2xs;
        border: none;

        .svg-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
