// -------------------------
// Loader
// -------------------------
@keyframes loading-spinner-duration {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-spinner-colors {
  0% {
    fill: $loader-start;
  }
  25% {
    fill: $loader-25;
  }
  50% {
    fill: $loader-50;
  }
  75% {
    fill: $loader-75;
  }
  100% {
    fill: $loader-end;
  }
}

@keyframes inverse-loading-spinner-colors {
  0% {
    fill: $inverse-loader-start;
  }
  25% {
    fill: $inverse-loader-25;
  }
  50% {
    fill: $inverse-loader-50;
  }
  75% {
    fill: $inverse-loader-75;
  }
  100% {
    fill: $inverse-loader-end;
  }
}

@keyframes mono-loading-spinner-colors {
  0% {
    fill: $mono-loader-start;
  }
  25% {
    fill: $mono-loader-25;
  }
  50% {
    fill: $mono-loader-50;
  }
  75% {
    fill: $mono-loader-75;
  }
  100% {
    fill: $mono-loader-end;
  }
}

// Loading overlay
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: z("overlay");
  background-color: $overlay-02;

  &--fixed {
    position: fixed;
  }

  &--alert {
    z-index: z("alert-overlay");
  }

  &--dark {
    background-color: $overlay-01;

    .loader__icon {
      animation: loading-spinner-duration 1s linear infinite, inverse-loading-spinner-colors 3s linear infinite;
    }
  }

  &--mono {
    background-color: rgba($ui-02, 0.75);

    .loader__icon {
      animation: loading-spinner-duration 1s linear infinite, mono-loading-spinner-colors 3s linear infinite;
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.loader {
  display: flex;
  text-align: center;

  &__icon {
    path {
      animation: loading-spinner-duration 1s linear infinite, loading-spinner-colors 3s linear infinite;
      transform-origin: 50% 50%; /* 회전 중심점 설정 */
      transform-box: fill-box; /* 경계 상자 크기 고정 */
      will-change: transform; /* GPU 가속 사용 */
      transform-style: preserve-3d; /* GPU 가속 사용 */
    }
  }

  &--md {
    .loader__icon {
      @include svg-icon-size(55px);
    }
  }

  &--lg {
    .loader__icon {
      @include svg-icon-size(92px);
    }
  }

  &--sm {
    .loader__icon {
      @include svg-icon-size(20px);
    }
  }

  &--xs {
    .loader__icon {
      @include svg-icon-size(16px);
    }
  }
}

.button .loader__icon,
.overlay--dark .loader__icon {
  animation: loading-spinner-duration 1s linear infinite, inverse-loading-spinner-colors 3s linear infinite;
}

// Loading bar
@keyframes loading-bar {
  0% {
    transform: translateX(-102%);
    opacity: 0.25;
  }
  45% {
    transform: translateX(0);
    opacity: 1;
  }
  55% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateX(102%);
    opacity: 0.25;
  }
  100% {
    transform: translateX(102%);
  }
}

.loading-bar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(4px);
  overflow-x: hidden;
  background-color: $hover-ui-accent;

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 102%;
    background-color: $primary;
    animation: loading-bar 1.5s cubic-bezier(0.52, 0.04, 0.06, 0.93) infinite;
  }

  &--mono::before {
    background-color: $icon-01;
  }
}
