// -------------------------
// Progressbar
// -------------------------
.progressbar {
  overflow: hidden;
  position: relative;
  height: rem(18px);
  background-color: $ui-03;
  border-radius: 4px;
  border: none;

  &::-webkit-progress-bar {
    overflow: hidden;
    position: relative;
    height: rem(18px);
    background-color: $ui-03;
    border-radius: 4px;
  }

  &::-webkit-progress-value {
    z-index: z("float");
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $primary;
  }

  &__gage {
    z-index: z("float");
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: $primary;
  }

  &__text {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $ui-02;
  }

  // -------------------------
  // progressbar--normal
  // -------------------------
  &--normal {
    .progressbar__gage {
      background-color: $text-01;
    }
    &::-webkit-progress-value {
      background-color: $text-01;
    }
  }

  // -------------------------
  // progressbar--critical
  // -------------------------
  &--critical {
    .progressbar__gage {
      background-color: $negative;
    }
    &::-webkit-progress-value {
      background-color: $negative;
    }
  }

  // -------------------------
  // progressbar--sm
  // -------------------------
  &--sm {
    height: rem(6px);
    &::-webkit-progress-bar {
      height: rem(6px);
    }
  }
}
