// -------------------------
// Table
// -------------------------
table {
  .tr--selected td,
  .tr--selected:hover td {
    color: $active-primary !important;
  }
}

.table {
  border: 1px solid $ui-04;

  &__link {
    @include ellipsis();
    @include font-weight("medium");

    &:hover:not(:disabled) {
      text-decoration: underline;
    }
  }

  th,
  td {
    @include font-size("14");
    position: relative;
    padding: $spacing-2xs $spacing-xs;
    color: $text-01;
    vertical-align: middle;
    overflow-wrap: break-word;
    word-break: keep-all;
    line-height: 1.3;
    text-align: center;
    &.text-left {
      text-align: left;
    }
  }

  th {
    @include font-weight("medium");
    height: rem(46px);
    position: relative;
    background-color: $ui-01;
    border-bottom: 1px solid $ui-04;
    .button {
      display: inline-block;
      vertical-align: middle;
      margin-top: -$spacing-2xs;
    }
  }
  td {
    @include font-weight("regular");
    height: $default-height-lg;
    background-color: $ui-02;
  }

  tr {
    &:hover > td {
      background-color: $ui-01;
    }
  }
  // -------------------------
  // size
  // -------------------------
  &--sm th,
  &--sm td {
    @include line-height("title");
    @include font-size("13");
    height: $default-height-md;
  }

  &__buttons {
    justify-content: center;

    .button {
      @include font-size("15");
      padding: 0;
    }
  }
}

// -------------------------
// table scroll
// -------------------------
.table-scroll {
  border: 1px solid $ui-04;

  .table {
    border: 0;
  }

  thead {
    border-bottom: 1px solid $ui-03;
  }

  td {
    word-break: break-all;
  }
}

// -------------------------
// table-horizontal
// -------------------------
.table-horizontal {
  width: 100%;
  border: 1px solid $ui-04;

  td,
  th {
    @include font-size("15");
    height: rem(48px);
    color: $text-01;
    text-align: left;
    vertical-align: middle;
  }

  th {
    @include stable-padding(0, $spacing-sm);
    @include font-weight("medium");
    width: rem(140px);
    background-color: $ui-01;
    border-right: 1px solid $ui-03;
  }

  td {
    @include stable-padding(0, $spacing-xs);
    background-color: $ui-02;
    border-right: 1px solid $ui-03;
  }

  tr + tr {
    th,
    td {
      border-top: 1px solid $ui-03;
    }
  }
}
