//-------------------------------------------
//  Breakpoints
// ------------------------------------------
// 데스크탑 기준으로 반응형 적용
$breakpoints: (
  "small": (
    max-width: rem(767px)
  ),
  "medium": (
    max-width: rem(1024px)
  ),
  "large": (
    max-width: rem(1279px)
  )
) !default;

@mixin reponsive-to($size) {
  @if map-has-key($breakpoints, $size) {
    @media #{inspact(map-get($breakpoints, $size))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$size}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Usage
// .selector {
//   color: red;

//   @include respond-to('small') {
//     color: blue;
//   }
// }
// https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
