//-------------------------------------------
//  Box Shadow
// ------------------------------------------
$box-shadow: rgba(0, 0, 0, 0.2);
$box-shadow-raised: 0 2px 4px 0 $box-shadow;

// Layer box-shadow map
$layer-shadows: (
  base: none,
  raised: $box-shadow-raised
);

// $layer 인자가 $layer-shadows 와 일치하는 변수라면, 그 값을 출력한다.
@mixin layer($layer) {
  @if map-has-key($layer-shadows, $layer) {
    box-shadow: #{map-get($layer-shadows, $layer)};
  } @else {
    @warn "지정해둔 box-shadow와 일치하는 변수가 없습니다.";
  }
}

// Usage: `@include layer('raised');`
