@import "spacing";

// file path
$img-path: "../images" !default;
$font-path: "../fonts" !default;

// button
$button-border-radius: 2px !default;
$button-height-lg: 40px !default;
$button-height-md: 32px !default;
$button-height-sm: 24px !default;
