<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../dist/css/style.min.css" />
</head>

<body>
  <header>
    <!-- header -->
    <div class="header">
      <ul class="gnb">
        <li class="gnb__item">
          <a href="#tab" class="gnb__link"> Tab </a>
        </li>
        <li class="gnb__item">
          <a href="#notification" class="gnb__link"> Notification </a>
        </li>
        <li class="gnb__item">
          <a href="#navigation" class="gnb__link"> Navigation </a>
        </li>
      </ul>
    </div>

  </header>
  <main>
    <div class="component-content" id="tab">
      <strong class="component-content__title">
        Tab
      </strong>
      <div class="component">
        <p class="component__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, consequuntur? Nesciunt nulla totam velit? Eum nesciunt molestiae dolorum autem impedit.
        </p>
        <ul class="tab">
          <li class="tab__item">
            <button class="tab__button" type="button" title="tab1">
              <span class="tab__text">
                Tab1
              </span>
            </button>
          </li>
          <li class="tab__item">
            <button class="tab__button" type="button" title="tab2">
              <span class="tab__text">
                Tab2
              </span>
            </button>
          </li>
          <li class="tab__item">
            <button class="tab__button" type="button" title="tab3">
              <span class="tab__text">
                Tab3
              </span>
            </button>
          </li>
        </ul>

      </div>
    </div>

    <div class="component-content" id="navigation">
      <strong class="component-content__title">
        Navigation
      </strong>
      <div class="component">
        <p class="component__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, consequuntur? Nesciunt nulla totam velit? Eum nesciunt molestiae dolorum autem impedit.
        </p>

      </div>
    </div>

    <div class="component-content" id="notification">
      <strong class="component-content__title">
        Notification
      </strong>
      <div class="component">
        <p class="component__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, consequuntur? Nesciunt nulla totam velit? Eum nesciunt molestiae dolorum autem impedit.
        </p>

      </div>
    </div>

  </main>

  <footer>
    <!-- footer -->
    <p class="footer__version">Component Version 1.0</p>
    <p class="footer__copyright">Copyright © 2021 <a href="http://www.mobigen.com/" target="_blank">Mobigen</a> Co., Ltd. All rights reserved</p>

  </footer>
</body>

</html>