<!-- text-input -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Text Input</h3>
</div>
<div class="page-content">
  <p class="page__desc">텍스트 입력 필드</p>
  <div class="page__usage md">
    <ul>
      <li>
        텍스트 입력 필드는 <em class="text-emphasis">3개</em> 유형이 있으며 <em class="text-emphasis">3개</em> 크기로
        구분합니다.
      </li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Input</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="inp-lg-01" class="hidden">Label</label>
              <input type="text" id="inp-lg-01" class="text-input text-input--lg" placeholder="placeholder text" />
              <!-- filled -->
              <label for="inp-lg-02" class="hidden">Label</label>
              <input type="text" id="inp-lg-02" class="text-input text-input--lg" placeholder="placeholder text" value="input filled" />
              <!-- disabled -->
              <label for="inp-lg-03" class="hidden">Label</label>
              <input type="text" id="inp-lg-03" class="text-input text-input--lg" placeholder="placeholder text" disabled />
              <!-- filled + disabled -->
              <label for="inp-lg-04" class="hidden">Label</label>
              <input type="text" id="inp-lg-04" class="text-input text-input--lg" placeholder="placeholder text" value="input filled" disabled />
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="inp-01" class="hidden">Label</label>
              <input type="text" id="inp-01" class="text-input" placeholder="placeholder text" />
              <div class="notification-message notification-message--error" style="align-self: flex-start">
                <svg class="notification-message__icon svg-icon" aria-hidden="true">
                  <use xlink:href="#issue-fill"></use>
                </svg>
                <span class="notification-message__text">Notification Message</span>
              </div>
              <!-- filled -->
              <label for="inp-02" class="hidden">Label</label>
              <input type="text" id="inp-02" class="text-input" placeholder="placeholder text" value="input filled" />
              <div class="notification-message notification-message--info" style="align-self: flex-start">
                <svg class="notification-message__icon svg-icon" aria-hidden="true">
                  <use xlink:href="#info-fill"></use>
                </svg>
                <span class="notification-message__text">Notification Message</span>
              </div>
              <!-- disabled -->
              <label for="inp-03" class="hidden">Label</label>
              <input type="text" id="inp-03" class="text-input" placeholder="placeholder text" disabled />
              <!-- filled + disabled -->
              <label for="inp-04" class="hidden">Label</label>
              <input type="text" id="inp-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="inp-sm-01" class="hidden">Label</label>
              <input type="text" id="inp-sm-01" class="text-input text-input--sm" placeholder="placeholder text" />
              <!-- filled -->
              <label for="inp-sm-02" class="hidden">Label</label>
              <input type="text" id="inp-sm-02" class="text-input text-input--sm" placeholder="placeholder text" value="input filled" />
              <!-- disabled -->
              <label for="inp-sm-03" class="hidden">Label</label>
              <input type="text" id="inp-sm-03" class="text-input text-input--sm" placeholder="placeholder text" disabled />
              <!-- filled + disabled -->
              <label for="inp-sm-04" class="hidden">Label</label>
              <input type="text" id="inp-sm-04" class="text-input text-input--sm" placeholder="placeholder text" value="input filled" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Input + clear button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-group text-input-group--lg">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-lg-01" class="hidden">Label</label>
                <input type="text" id="input-group-lg-01" class="text-input" placeholder="placeholder text" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- filled -->
              <div class="text-input-group text-input-group--lg">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-lg-02" class="hidden">Label</label>
                <input type="text" id="input-group-lg-02" class="text-input" placeholder="placeholder text" value="input filled" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- disabled -->
              <div class="text-input-group text-input-group--lg text-input-group--disabled">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-lg-03" class="hidden">Label</label>
                <input type="text" id="input-group-lg-03" class="text-input" placeholder="placeholder text" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-group text-input-group--lg text-input-group--disabled">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-lg-04" class="hidden">Label</label>
                <input type="text" id="input-group-lg-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-group">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-01" class="hidden">Label</label>
                <input type="text" id="inp-group-01" class="text-input" placeholder="placeholder text" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- filled -->
              <div class="text-input-group">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-02" class="hidden">Label</label>
                <input type="text" id="inp-group-02" class="text-input" placeholder="placeholder text" value="input filled" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- disabled -->
              <div class="text-input-group text-input-group--disabled">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-03" class="hidden">Label</label>
                <input type="text" id="inp-group-03" class="text-input" placeholder="placeholder text" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-group text-input-group--disabled">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-04" class="hidden">Label</label>
                <input type="text" id="inp-group-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-group text-input-group--sm">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-sm-01" class="hidden">Label</label>
                <input type="text" id="inp-group-sm-01" class="text-input" placeholder="placeholder text" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- filled -->
              <div class="text-input-group text-input-group--sm">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-sm-02" class="hidden">Label</label>
                <input type="text" id="inp-group-sm-02" class="text-input" placeholder="placeholder text" value="input filled" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- disabled -->
              <div class="text-input-group text-input-group--sm text-input-group--disabled">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-sm-03" class="hidden">Label</label>
                <input type="text" id="inp-group-sm-03" class="text-input" placeholder="placeholder text" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-group text-input-group--sm text-input-group--disabled">
                <span class="text-input-group__icon">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <label for="inp-group-sm-04" class="hidden">Label</label>
                <input type="text" id="inp-group-sm-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Input + clear button + search button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-group text-input-group--lg">
                <label for="inp-search-lg-01" class="hidden">Label</label>
                <input type="text" id="inp-search-lg-01" class="text-input" placeholder="placeholder text" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--lg button--tertiary">
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- filled -->
              <div class="text-input-group text-input-group--lg">
                </span>
                <label for="inp-search-lg-02" class="hidden">Label</label>
                <input type="text" id="inp-search-lg-02" class="text-input" placeholder="placeholder text" value="input filled" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--lg button--tertiary">
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- disabled -->
              <div class="text-input-group text-input-group--lg text-input-group--disabled">
                </span>
                <label for="inp-search-lg-03" class="hidden">Label</label>
                <input type="text" id="inp-search-lg-03" class="text-input" placeholder="placeholder text" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--lg button--tertiary" disabled>
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-group text-input-group--lg text-input-group--disabled">
                </span>
                <label for="inp-search-lg-04" class="hidden">Label</label>
                <input type="text" id="inp-search-lg-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--lg button--tertiary" disabled>
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-group">
                </span>
                <label for="inp-search-01" class="hidden">Label</label>
                <input type="text" id="inp-search-01" class="text-input" placeholder="placeholder text" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--tertiary">
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- filled -->
              <div class="text-input-group">
                </span>
                <label for="inp-search-02" class="hidden">Label</label>
                <input type="text" id="inp-search-02" class="text-input" placeholder="placeholder text" value="input filled" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--tertiary">
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- disabled -->
              <div class="text-input-group text-input-group--disabled">
                </span>
                <label for="inp-search-03" class="hidden">Label</label>
                <input type="text" id="inp-search-03" class="text-input" placeholder="placeholder text" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--tertiary" disabled>
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-group text-input-group--disabled">
                </span>
                <label for="inp-search-04" class="hidden">Label</label>
                <input type="text" id="inp-search-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--tertiary" disabled>
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-group text-input-group--sm">
                </span>
                <label for="inp-search-sm-01" class="hidden">Label</label>
                <input type="text" id="inp-search-sm-01" class="text-input" placeholder="placeholder text" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--sm button--icon button--tertiary">
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- filled -->
              <div class="text-input-group text-input-group--sm">
                </span>
                <label for="inp-search-sm-02" class="hidden">Label</label>
                <input type="text" id="inp-search-sm-02" class="text-input" placeholder="placeholder text" value="input filled" />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--sm button--icon button--tertiary">
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- disabled -->
              <div class="text-input-group text-input-group--sm text-input-group--disabled">
                </span>
                <label for="inp-search-sm-03" class="hidden">Label</label>
                <input type="text" id="inp-search-sm-03" class="text-input" placeholder="placeholder text" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--sm button--icon button--tertiary" disabled>
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-group text-input-group--sm text-input-group--disabled">
                </span>
                <label for="inp-search-sm-04" class="hidden">Label</label>
                <input type="text" id="inp-search-sm-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
                <button class="text-input-group__clear-button" title="초기화">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--sm button--icon button--tertiary" disabled>
                  <svg class="svg-icon button__icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Input with Text</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-wrap">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-lg-01" class="hidden">Label</label>
                <input type="text" id="inp-text-lg-01" class="text-input text-input--lg" placeholder="placeholder text" />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- filled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-lg-02" class="hidden">Label</label>
                <input type="text" id="inp-text-lg-02" class="text-input text-input--lg" placeholder="placeholder text" value="input filled" />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- disabled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-lg-03" class="hidden">Label</label>
                <input type="text" id="inp-text-lg-03" class="text-input text-input--lg" placeholder="placeholder text" disabled />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-lg-04" class="hidden">Label</label>
                <input type="text" id="inp-text-lg-04" class="text-input text-input--lg" placeholder="placeholder text" value="input filled" disabled />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-wrap">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-01" class="hidden">Label</label>
                <input type="text" id="inp-text-01" class="text-input" placeholder="placeholder text" />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- filled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-02" class="hidden">Label</label>
                <input type="text" id="inp-text-02" class="text-input" placeholder="placeholder text" value="input filled" />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- disabled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-03" class="hidden">Label</label>
                <input type="text" id="inp-text-03" class="text-input" placeholder="placeholder text" disabled />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-04" class="hidden">Label</label>
                <input type="text" id="inp-text-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-input-wrap">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-sm-02" class="hidden">Label</label>
                <input type="text" id="inp-text-sm-01" class="text-input text-input--sm" placeholder="placeholder text" />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- filled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-sm-02" class="hidden">Label</label>
                <input type="text" id="inp-text-sm-02" class="text-input text-input--sm" placeholder="placeholder text" value="input filled" />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- disabled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-sm-02" class="hidden">Label</label>
                <input type="text" id="inp-text-sm-02" class="text-input text-input--sm" placeholder="placeholder text" disabled />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
              <!-- filled + disabled -->
              <div class="text-input-wrap" style="margin-top: 0.5rem;">
                <span class="text-input-wrap__prefix">prefix</span>
                <label for="inp-text-sm-04" class="hidden">Label</label>
                <input type="text" id="inp-text-sm-04" class="text-input text-input--sm" placeholder="placeholder text" value="input filled" disabled />
                <span class="text-input-wrap__suffix">suffix</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">text edit + text input</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="text-edit-wrap">
                <div class="text-edit">
                  <strong class="text-edit__title">
                    Text Title 여기입니다.
                  </strong>
                  <button class="button button--icon button--link text-edit__button" title="텍스트 수정" type="button">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#pen"></use>
                    </svg>
                  </button>
                </div>
                <div class="text-input-wrap" style="display: none">
                  <label for="inp-group-05" class="hidden">Label</label>
                  <input type="text" id="inp-group-05" class="text-input" />
                  <button class="button button--icon button--link text-edit__button" title="텍스트 수정 완료" type="button">
                    <svg class="button__icon svg-icon" aria-hidden="true">
                      <use xlink:href="#checkmark"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <!-- default -->
              <div class="text-edit-wrap text-edit-wrap--sm">
                <div class="text-edit">
                  <span class="text-edit__title">
                    Text Title 여기입니다.
                  </span>
                  <button class="button button--icon button--sm button--link text-edit__button" title="텍스트 수정" type="button">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#pen"></use>
                    </svg>
                  </button>
                </div>
                <div class="text-input-wrap" style="display: none;">
                  <label for="inp-group-06" class="hidden">Label</label>
                  <input type="text" id="inp-group-06" class="text-input text-input--sm" />
                  <button class="button button--icon button--sm button--link text-edit__button" title="텍스트 수정 완료" type="button">
                    <svg class="button__icon svg-icon" aria-hidden="true">
                      <use xlink:href="#checkmark"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
