<!-- board detail -->
<div class="page-header">
	<strong class="page-header__lable">Component</strong>
	<h3 class="page-header__title">Board Detail</h3>
</div>
<div class="page-content">

	<div class="component">
		<span class="component__name">Default</span>
		<div class="component__example">
			<div class="component__views">
				<div>
					<div class="component__contents">
						<p class="component__label">Size: md</p>
						<div class="component__group">
							<div class="board-detail">
								<div class="board-detail__title">
									<p class="board-detail__title-text">공지사항입니다.</p>
								</div>
								<dl class="board-detail__information">
									<dt>카테고리</dt>
									<dd>공지</dd>
									<dt>작성자</dt>
									<dd>관리자</dd>
									<dt>등록일자</dt>
									<dd>2021-10-24</dd>
								</dl>
								<div class="board-detail__post">
      <pre class="board-detail__post-text">


        ◆ 오픈일자 : 0000년 00월 00일 00시
        ◆ 이용내용
      </pre>
								</div>
								<dl class="board-detail__reference">
									<dt>첨부파일</dt>
									<dd>
										<ul class="attached-file">
											<li class="attached-file__item">
												<a href="#" class="attached-file__link">
													<svg-icon class="svg-icon attached-file__icon" name="link" aria-hidden="true"></svg-icon>
													2020년 스마트농업 빅데이터 활용 33333333333333333333.jpg
												</a>
											</li>
										</ul>
									</dd>
								</dl>
								<dl class="board-detail__reference">
									<dt>처리상태</dt>
									<dd>
										<base-badge class="badge--green">
											<span class="badge__label">답변완료</span>
										</base-badge>
									</dd>
								</dl>
								<dl class="board-detail__reference board-detail__reference--height-auto">
									<dt>
										<svg-icon class="svg-icon board-detail__reference-icon" name="reply" aria-hidden="true"></svg-icon>
										답변
									</dt>
									<dd>
										<span class="board-detail__reference-subtext"> 2022-05-01 </span>
										<p class="board-detail__reference-text">
											등록한 내용 대로 들어가나요?? 안녕하세요. 농림축산식품부 공공데이터 포털 운영팀 입니다. 요청하신
											묘목가격정보는 산림청과 실시간 연계가 되지 않아 현행화 대상으로 작업중에 있습니다. 번거로우시더라도 산림청
											묘목가격정보 페이지에서 2017년까지 최신 정보를 다운로드 받아 활용해주시기 바랍니다.
											http://www.forest.go.kr/newkfsweb/html/HtmlPage.do?pg=/resource/resource_020311_2016_con01.html&mn=KFS_18_03_04&orgId=kfsv
										</p>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
