<!-- Description Row -->
<div class="page-header">
	<strong class="page-header__lable">Component</strong>
	<h3 class="page-header__title">Description Row</h3>
</div>
<div class="page-content">

	<div class="component">
		<span class="component__name">Default</span>
		<div class="component__example">
			<div class="component__views">
				<div>
					<div class="component__contents">
						<p class="component__label">Size: md</p>
						<div class="component__group">
							<div class="description-row">
								<table>
									<caption class="caption-out">Description Row</caption>
									<tbody>
									<tr>
										<th scope="row">Title1</th>
										<td>Description1-1</td>
									</tr>
									<tr>
										<th scope="row">Title2</th>
										<td>Description2-1</td>
									</tr>
									<tr>
										<th scope="row">Title3</th>
										<td>Description3-1</td>
									</tr>
									<tr>
										<th scope="row">Title4</th>
										<td>Description4-1</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="component__contents">
						<p class="component__label">Size: sm</p>
						<div class="component__group">
							<div class="description-row description-row--sm">
								<table>
									<caption class="caption-out">Description Row</caption>
									<tbody>
									<tr>
										<th scope="row">Title1</th>
										<td>Description1-1</td>
									</tr>
									<tr>
										<th scope="row">Title2</th>
										<td>Description2-1</td>
									</tr>
									<tr>
										<th scope="row">Title3</th>
										<td>Description3-1</td>
									</tr>
									<tr>
										<th scope="row">Title4</th>
										<td>Description4-1</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
