<!-- Text Input Group -->
<div class="page-header">
  <strong class="page-header__lable">Component</strong>
  <h3 class="page-header__title">Text Input Group</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="text-input-group text-input-group--lg" style="width: 240px">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <div class="text-input-group text-input-group--lg text-input-group--disabled" style="width: 240px">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." disabled />
                <button class="text-input-group__clear-button button" title="초기화 disabled">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary" disabled>
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="text-input-group" style="width: 200px">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <div class="text-input-group text-input-group--disabled" style="width: 200px">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." disabled />
                <button class="text-input-group__clear-button button" title="초기화" disabled>
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary" disabled>
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="h-group">
                <div class="text-input-group text-input-group--sm" style="width: 160px">
                  <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                  <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                  <button class="text-input-group__clear-button button" title="초기화">
                    <span class="hidden">초기화</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                  <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                    <span class="hidden">검색</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#search"></use>
                    </svg>
                  </button>
                </div>
                <div class="text-input-group text-input-group--sm text-input-group--disabled" style="width: 160px">
                  <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                  <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." disabled />
                  <button class="text-input-group__clear-button button" title="초기화" disabled>
                    <span class="hidden">초기화</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                  <button title="검색" class="text-input-group__search-button button button--icon button--primary" disabled>
                    <span class="hidden">검색</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#search"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
