<!-- checkbox -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Checkbox</h3>
</div>
<div class="page-content">
  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="checkboxs">
                <!-- default -->
                <div class="checkbox checkbox--lg">
                  <input id="check-05" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-05" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox checkbox--lg">
                  <input id="check-06" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-06" class="checkbox__label">label</label>
                </div>
                <!-- indeterminate -->
                <div class="checkbox checkbox--lg checkbox--indeterminate">
                  <input id="check-07" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-07" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--lg checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--lg checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="checkboxs">
                <!-- default -->
                <div class="checkbox">
                  <input id="check-01" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-01" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox">
                  <input id="check-02" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-02" class="checkbox__label">label</label>
                </div>
                <!-- indeterminate -->
                <div class="checkbox checkbox--indeterminate">
                  <input id="check-03" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-03" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="checkboxs">
                <!-- default -->
                <div class="checkbox checkbox--sm">
                  <input id="check-sm-01" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-sm-01" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox checkbox--sm">
                  <input id="check-sm-02" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-sm-02" class="checkbox__label">label</label>
                </div>
                <!-- indeterminate -->
                <div class="checkbox checkbox--sm checkbox--indeterminate">
                  <input id="check-sm-03" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-sm-03" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--sm checkbox--disabled">
                  <input id="check-sm-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-sm-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--sm checkbox--disabled">
                  <input id="check-sm-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-sm-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Checkbox toggle</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="checkbox-toggle">
                <!-- default -->
                <div class="checkbox checkbox--lg">
                  <input id="check-toggle-05" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-toggle-05" class="checkbox__label">label</label>
                </div>
                <div class="checkbox checkbox--lg">
                  <input id="check-toggle-07" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-toggle-07" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox checkbox--lg">
                  <input id="check-toggle-06" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-toggle-06" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--lg checkbox--disabled">
                  <input id="check-toggle-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-toggle-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--lg checkbox--disabled">
                  <input id="check-toggle-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-toggle-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="checkbox-toggle">
                <!-- default -->
                <div class="checkbox">
                  <input id="check-toggle-01" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-toggle-01" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox">
                  <input id="check-toggle-02" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-toggle-02" class="checkbox__label">label</label>
                </div>
                <div class="checkbox">
                  <input id="check-toggle-03" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-toggle-03" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--disabled">
                  <input id="check-toggle-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-toggle-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--disabled">
                  <input id="check-toggle-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-toggle-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="checkbox-toggle">
                <!-- default -->
                <div class="checkbox checkbox--sm">
                  <input id="check-toggle-sm-03" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-toggle-sm-03" class="checkbox__label">label</label>
                </div>
                <div class="checkbox checkbox--sm">
                  <input id="check-toggle-sm-01" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-toggle-sm-01" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox checkbox--sm">
                  <input id="check-toggle-sm-02" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-toggle-sm-02" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--sm checkbox--disabled">
                  <input id="check-toggle-sm-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-toggle-sm-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--sm checkbox--disabled">
                  <input id="check-toggle-sm-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-toggle-sm-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
