<!-- tag -->
<div class="page-header">
  <strong class="page-header__lable">Component</strong>
  <h3 class="page-header__title">Select</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="h-group">
                <div class="select select--lg" role="select" style="width: 240px">
                  <div class="select-selector">
                    <button class="select-selector__button" type="button">
                      <span class="select-selector__title">텍스트 유형</span>
                      <svg class="svg-icon select-selector__icon" aria-hidden="true">
                        <use xlink:href="#chevron-down-medium"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="select-container" id="select-01">
                    <ul class="select-container__list">
                      <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                      <li class="select-container__item select-container__item--selected">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">권한 설정</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">다른 이름으로 저장</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">정보 변경</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="select select--lg select--disabled" role="select" style="width: 240px">
                  <div class="select-selector">
                    <button class="select-selector__button" type="button">
                      <span class="select-selector__title">텍스트 유형</span>
                      <svg class="svg-icon select-selector__icon" aria-hidden="true">
                        <use xlink:href="#chevron-down-medium"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="select-container" id="select-01">
                    <ul class="select-container__list">
                      <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                      <li class="select-container__item select-container__item--selected">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">권한 설정</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">다른 이름으로 저장</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">정보 변경</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="h-group">
                <div class="select" role="select">
                  <div class="select-selector">
                    <button class="select-selector__button" type="button">
                      <span class="select-selector__title">텍스트 유형</span>
                      <svg class="svg-icon select-selector__icon" aria-hidden="true">
                        <use xlink:href="#chevron-down-medium"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="select-container" id="select-01">
                    <ul class="select-container__list">
                      <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                      <li class="select-container__item select-container__item--selected">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">권한 설정</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">다른 이름으로 저장</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">정보 변경</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="select select--disabled" role="select">
                  <div class="select-selector">
                    <button class="select-selector__button" type="button">
                      <span class="select-selector__title">텍스트 유형</span>
                      <svg class="svg-icon select-selector__icon" aria-hidden="true">
                        <use xlink:href="#chevron-down-medium"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="select-container" id="select-01">
                    <ul class="select-container__list">
                      <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                      <li class="select-container__item select-container__item--selected">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">권한 설정</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">다른 이름으로 저장</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">정보 변경</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="h-group">
                <div class="select select--sm" role="select" style="width: 120px; min-width: 120px">
                  <div class="select-selector">
                    <button class="select-selector__button" type="button">
                      <span class="select-selector__title">텍스트 유형</span>
                      <svg class="svg-icon select-selector__icon" aria-hidden="true">
                        <use xlink:href="#chevron-down-medium"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="select-container" id="select-01">
                    <ul class="select-container__list">
                      <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                      <li class="select-container__item select-container__item--selected">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">권한 설정</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">다른 이름으로 저장</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">정보 변경</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="select select--sm select--disabled" role="select" style="width: 120px; min-width: 120px">
                  <div class="select-selector">
                    <button class="select-selector__button" type="button">
                      <span class="select-selector__title">텍스트 유형</span>
                      <svg class="svg-icon select-selector__icon" aria-hidden="true">
                        <use xlink:href="#chevron-down-medium"></use>
                      </svg>
                    </button>
                  </div>
                  <div class="select-container" id="select-01">
                    <ul class="select-container__list">
                      <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                      <li class="select-container__item select-container__item--selected">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">권한 설정</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">다른 이름으로 저장</span>
                        </button>
                      </li>
                      <li class="select-container__item">
                        <button class="select-container__button" type="button" role="option">
                          <span class="select-container__text">정보 변경</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
