<!-- badge -->
<div class="page-header">
  <strong class="page-header__lable">Module Component</strong>
  <h3 class="page-header__title">Description</h3>
</div>
<div class="page-content">
  <div class="component">
    <span class="component__name">Descriotion-row</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <div class="component__group">
              <div class="description-row">
                <table>
                  <caption class="caption-out">Description Row</caption>
                  <tbody>
                    <tr>
                      <th scope="row">Title1</th>
                      <td>Description1-1</td>
                    </tr>
                    <tr>
                      <th scope="row">Title2</th>
                      <td>Description2-1</td>
                    </tr>
                    <tr>
                      <th scope="row">Title3</th>
                      <td>Description3-1</td>
                    </tr>
                    <tr>
                      <th scope="row">Title4</th>
                      <td>Description4-1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Description Column</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <div class="component__group">

              <div class="description-column">
                <table>
                  <caption class="caption-out">
                    Description Column
                  </caption>
                  <thead>
                    <tr>
                      <!-- 세로 => col, 가로 => row -->
                      <th scope="col">HEAD</th>
                      <th scope="col">HEAD2</th>
                      <th scope="col">HEAD3</th>
                      <th scope="col">HEAD4</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Description-1</td>
                      <td>Description1-2</td>
                      <td>Description1-3</td>
                      <td>Description1-4</td>
                    </tr>
                    <tr>
                      <td>Description-1</td>
                      <td>Description-2</td>
                      <td>Description-3</td>
                      <td>Description-4</td>
                    </tr>
                    <tr>
                      <td>Description-1</td>
                      <td>Description-2</td>
                      <td>Description-3</td>
                      <td>Description-4</td>
                    </tr>
                    <tr class="tr--selected">
                      <td>선택된 경우 사용하는 스타일</td>
                      <td>Description-2</td>
                      <td>Description-3</td>
                      <td>Description-4</td>
                    </tr>
                    <tr>
                      <td>Description-1</td>
                      <td>Description-2</td>
                      <td>Description-3</td>
                      <td>Description-4</td>
                    </tr>
                    <tr>
                      <td>Description-1</td>
                      <td>Description-2</td>
                      <td>Description-3</td>
                      <td>Description-4</td>
                    </tr>
                    <tr>
                      <td>Description-1</td>
                      <td>Description-2</td>
                      <td>Description-3</td>
                      <td>Description-4</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
