<!-- select -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Select</h3>
</div>
<div class="page-content">
  <p class="page__desc">특정 버튼을 클릭했을 경우 뜨는 리스트 형태의 메뉴입니다.</p>

  <div class="component-variation">
    <span class="component-variation__name">Default Select</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!--
                select--open 클래스 추가시 open
                select--up 클래스 추가시 컨테이너가 위로 열림
                select--right 클래스 추가시 컨테이너가 우측 기준으s로 열림
               -->
              <div class="select select--lg" style="min-width: 160px; max-width: 230px;" role="select">
                <div class="select-selector" aria-expanded="false" aria-controls="select-01">
                  <button class="select-selector__button" type="button">
                    <span class="select-selector__title">SelectContentUpSelectContentUpSelectContentUp</span>
                    <svg class="svg-icon select-selector__icon" aria-hidden="true">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container select-container--lg" id="select-02" aria-haspopup="true">
                  <ul class="select-container__list">
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">URL 관리</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">권한 설정</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">사본으로 저장</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">정보 변경</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">목록으로 나가기</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="select select--lg select--disabled" style="min-width: 160px; max-width: 230px;" role="select">
                <div class="select-selector" aria-expanded="false" aria-controls="select-02">
                  <button class="select-selector__button" type="button">
                    <span class="select-selector__title">SelectContentUpSelectContentUpSelectContentUp</span>
                    <svg class="svg-icon select-selector__icon" aria-hidden="true">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container select-container--lg" id="select-02" aria-haspopup="true">
                  <ul class="select-container__list">
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">URL 관리</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">권한 설정</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">사본으로 저장</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">정보 변경</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">목록으로 나가기</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!-- select--open 클래스 추가시 open -->
              <div class="select" style="min-width: 160px; max-width: 230px;" role="select">
                <div class="select-selector" aria-expanded="false" aria-controls="select-01">
                  <button class="select-selector__button" type="button">
                    <span class="select-selector__title">텍스트 유형</span>
                    <svg class="svg-icon select-selector__icon" aria-hidden="true">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container" id="select-01" aria-haspopup="true">
                  <ul class="select-container__list">
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">URL 관리</span>
                      </button>
                    </li>
                    <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                    <li class="select-container__item select-container__item--selected">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">권한 설정</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">다른 이름으로 저장</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">정보 변경</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">목록으로 나가기</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <div class="select-container__notification" id="select-01" aria-haspopup="true">
                        <div class="notification-message notification-message--info">
                          <svg class="notification-message__icon svg-icon" aria-hidden="true" aria-hidden="true">
                            <use xlink:href="#info-fill"></use>
                          </svg>
                          <span class="notification-message__text">데이터가 없습니다</span>
                        </div>
                      </div>
                    </li>
                    <li class="select-container__item">
                      <div class="select-container__notification" id="select-01" aria-haspopup="true">
                        <div class="notification-message notification-message--inline notification-message--loading">
                          <div class="loader loader--xs">
                            <div class="loader__spinner"></div>
                          </div>
                          <span class="notification-message__text">데이터를 불러오는 중...</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- 비활성 상태 -->
              <!-- select--open 클래스 추가시 open -->
              <div class="select select--disabled" style="min-width: 160px; max-width: 230px;" role="select">
                <div class="select-selector" aria-expanded="false" aria-controls="select-01">
                  <button class="select-selector__button" type="button">
                    <span class="select-selector__title">텍스트 유형</span>
                    <svg class="svg-icon select-selector__icon" aria-hidden="true">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container" id="select-01" aria-haspopup="true">
                  <ul class="select-container__list">
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">URL 관리</span>
                      </button>
                    </li>
                    <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
                    <li class="select-container__item select-container__item--selected">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">권한 설정</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">다른 이름으로 저장</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">정보 변경</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">목록으로 나가기</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!-- select--open 클래스 추가시 open -->
              <div class="select select--sm select--open" style="min-width: 160px; max-width: 230px;" role="select">
                <div class=" select-selector" aria-expanded="true" aria-controls="select-01">
                  <button class=" select-selector__button" type="button">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#key"></use>
                    </svg>
                    <span class="select-selector__title">권한 설정</span>
                    <svg class="svg-icon select-selector__icon" aria-hidden="true">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container" id="select-01" aria-haspopup="true">
                  <ul class="select-container__list">
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <svg class="svg-icon select-container__icon" aria-hidden="true">
                          <use xlink:href="#link"></use>
                        </svg>
                        <span class="select-container__text">URL 관리</span>
                      </button>
                    </li>
                    <li class="select-container__item select-container__item--selected">
                      <button class="select-container__button" type="button" role="option">
                        <svg class="svg-icon select-container__icon" aria-hidden="true">
                          <use xlink:href="#key"></use>
                        </svg>
                        <span class="select-container__text">권한 설정</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <svg class="svg-icon select-container__icon" aria-hidden="true">
                          <use xlink:href="#copy"></use>
                        </svg>
                        <span class="select-container__text">사본으로 저장</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <svg class="svg-icon select-container__icon" aria-hidden="true">
                          <use xlink:href="#write"></use>
                        </svg>
                        <span class="select-container__text">정보 변경</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <svg class="svg-icon select-container__icon" aria-hidden="true">
                          <use xlink:href="#popout"></use>
                        </svg>
                        <span class="select-container__text">목록으로 나가기</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="select select--sm select--disabled" style="min-width: 160px; max-width: 230px;" role="select">
                <div class="select-selector" aria-expanded="false" aria-controls="select-01">
                  <button class="select-selector__button" type="button">
                    <span class="select-selector__title">SelectContent</span>
                    <svg class="svg-icon select-selector__icon" aria-hidden="true">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container" id="select-01" aria-haspopup="true">
                  <ul class="select-container__list">
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">URL 관리</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">권한 설정</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">사본으로 저장</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">정보 변경</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button" role="option">
                        <span class="select-container__text">목록으로 나가기</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
