<!-- text-input -->
<div class="page-header">
  <strong class="page-header__lable">Component</strong>
  <h3 class="page-header__title">Text Input</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group component__group--column">
              <!-- filled -->
              <label for="inp-lg-02" class="hidden">Label</label>
              <input type="text" id="inp-lg-02" class="text-input text-input--lg" placeholder="placeholder text" value="input filled" />
              <!-- filled + disabled -->
              <label for="inp-lg-04" class="hidden">Label</label>
              <input type="text" id="inp-lg-04" class="text-input text-input--lg" placeholder="placeholder text" value="disabled" disabled />
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group component__group--column">
              <!-- filled -->
              <label for="inp-02" class="hidden">Label</label>
              <input type="text" id="inp-02" class="text-input" placeholder="placeholder text" value="input filled" />
              <div class="notification-message notification-message--info">
                <svg class="notification-message__icon svg-icon" aria-hidden="true">
                  <use xlink:href="#info-fill"></use>
                </svg>
                <span class="notification-message__text">Notification Message</span>
              </div>
              <!-- filled + disabled -->
              <label for="inp-04" class="hidden">Label</label>
              <input type="text" id="inp-04" class="text-input" placeholder="placeholder text" value="disabled" disabled />
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group component__group--column">
              <!-- filled -->
              <label for="inp-sm-02" class="hidden">Label</label>
              <input type="text" id="inp-sm-02" class="text-input text-input--sm" placeholder="placeholder text" value="input filled" />
              <!-- filled + disabled -->
              <label for="inp-sm-04" class="hidden">Label</label>
              <input type="text" id="inp-sm-04" class="text-input text-input--sm" placeholder="placeholder text" value="disabled" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
