<!-- notification -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Notification</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <!-- info -->
          <div class="notification-wrap">
            <div class="notification notification--info" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#info-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">Notification Text Here.</p>
              </div>
            </div>
          </div>
          <!-- success -->
          <div class="notification-wrap">
            <div class="notification notification--success" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#checkmark-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">Notification Text Here.</p>
              </div>
            </div>
          </div>
          <!-- warning -->
          <div class="notification-wrap">
            <div class="notification notification--warning" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#warning-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">Notification Text Here.</p>
              </div>
            </div>
          </div>
          <!-- error -->
          <div class="notification-wrap">
            <div class="notification notification--error" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#issue-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">
                  Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                  Text Here Notification Text Here Notification Text Here Notification Text Here.
                </p>
              </div>
            </div>
          </div>
          <!-- normal -->
          <div class="notification-wrap">
            <div class="notification notification--normal" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#subtract"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">
                  Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                  Text Here Notification Text Here Notification Text Here Notification Text Here.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Message Notification</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <!-- info -->
          <div class="notification-message notification-message--info">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- success -->
          <div class="notification-message notification-message--success">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#checkmark-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- warning -->
          <div class="notification-message notification-message--warning">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#warning-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- error -->
          <div class="notification-message notification-message--error">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#issue-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- loading -->
          <div class="notification-message notification-message--loading">
            <div class="loader loader--xs">
              <div class="loader__spinner"></div>
            </div>
            <span class="notification-message__text">Notification Message</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
