<!-- notification -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Notification</h3>
</div>
<div class="page-content">
  <p class="page__desc">노티피케이션은 사용자에게 정보를 전달하는 알림 메시지입니다.</p>
  <div class="page__usage md">
    <ul>
      <li>노티피케이션은 화면 일부를 가리며 나타나는 일반적인 유형과 메시지만 표시해주는 두가지 유형으로 구분합니다</li>
      <li>Message 유형은 Validation에 사용합니다. (구, <code class="code-inline">mui-message</code>)</li>
      <li>Message 유형은 <code class="code-inline">notification-message--inline</code> 클래스를 추가하여 inline-flex로 사용할 수 있습니다</li>
      <li>노티피케이션은 총 4가지 상태가 있고 의미는 다음과 같습니다. </li>
      <ul>
        <li>info : 일반적인 정보전달이나 메세지 역할을 하는 알림에서 사용됩니다.</li>
        <li>success: 사용자의 동작이 성공적으로 이루어졌을 때 사용됩니다. (ex 등록완료) </li>
        <li>warning: 사용자가 단계를 수행하기 앞서, 제약이 따를만한 상황을 경고할 때 사용됩니다. 이를 감안하고 사용자는 동작을 강행할 수 있습니다.</li>
        <li>error: 치명적인 오류가 발생할 때 사용됩니다. 이 상태에서 사용자는 다음 단계를 수행할 수 없습니다.</li>
      </ul>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div style="width: 600px">
          <!-- info -->
          <div class="notification-wrap">
            <div class="notification notification--info" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#info-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">Notification Text Here.</p>
              </div>
            </div>
          </div>
          <!-- success -->
          <div class="notification-wrap">
            <div class="notification notification--success" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#checkmark-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">Notification Text Here.</p>
              </div>
            </div>
          </div>
          <!-- warning -->
          <div class="notification-wrap">
            <div class="notification notification--warning" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#warning-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">Notification Text Here.</p>
              </div>
            </div>
          </div>
          <!-- error -->
          <div class="notification-wrap">
            <div class="notification notification--error" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#issue-fill"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">
                  Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                  Text Here Notification Text Here Notification Text Here Notification Text Here.
                </p>
              </div>
            </div>
          </div>
          <!-- normal -->
          <div class="notification-wrap">
            <div class="notification notification--normal" role="alert">
              <svg class="notification__icon svg-icon" aria-hidden="true">
                <use xlink:href="#subtract"></use>
              </svg>
              <div class="notification__contents">
                <p class="notification__title">Notification Title</p>
                <p class="notification__text">
                  Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                  Text Here Notification Text Here Notification Text Here Notification Text Here.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Closable</span>
    <div class="component-example">
      <div class="component-example__live">
        <div style="width: 600px">
          <!-- info -->
          <div class="notification notification--info" role="alert">
            <svg class="notification__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <div class="notification__contents">
              <p class="notification__title">Notification Title</p>
              <p class="notification__text">Notification Text Here.</p>
            </div>
            <button class="notification__close-button" title="닫기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
          <!-- success -->
          <div class="notification notification--success" role="alert">
            <svg class="notification__icon svg-icon" aria-hidden="true">
              <use xlink:href="#checkmark-fill"></use>
            </svg>
            <div class="notification__contents">
              <p class="notification__title">Notification Title</p>
              <p class="notification__text">Notification Text Here.</p>
            </div>
            <button class="notification__close-button" title="닫기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
          <!-- warning -->
          <div class="notification notification--warning" role="alert">
            <svg class="notification__icon svg-icon" aria-hidden="true">
              <use xlink:href="#warning-fill"></use>
            </svg>
            <div class="notification__contents">
              <p class="notification__title">Notification Title</p>
              <p class="notification__text">Notification Text Here.</p>
            </div>
            <button class="notification__close-button" title="닫기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
          <!-- error -->
          <div class="notification notification--error" role="alert">
            <svg class="notification__icon svg-icon" aria-hidden="true">
              <use xlink:href="#issue-fill"></use>
            </svg>
            <div class="notification__contents">
              <p class="notification__title">Notification Title</p>
              <p class="notification__text">
                Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                Text Here Notification Text Here Notification Text Here Notification Text Here.
              </p>
            </div>
            <button class="notification__close-button" title="닫기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
          <!-- normal -->
          <div class="notification notification--normal" role="alert">
            <svg class="notification__icon svg-icon" aria-hidden="true">
              <use xlink:href="#subtract"></use>
            </svg>
            <div class="notification__contents">
              <p class="notification__title">Notification Title</p>
              <p class="notification__text">
                Notification Text Here Notification Text Here Notification Text Here Notification Text Here Notification
                Text Here Notification Text Here Notification Text Here Notification Text Here.
              </p>
            </div>
            <button class="notification__close-button" title="닫기">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Message - block</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <!-- info -->
          <div class="notification-message notification-message--info">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- success -->
          <div class="notification-message notification-message--success">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#checkmark-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- warning -->
          <div class="notification-message notification-message--warning">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#warning-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- error -->
          <div class="notification-message notification-message--error">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#issue-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- loading -->
          <div class="notification-message notification-message--loading">
            <div class="loader loader--xs">
              <div class="loader__spinner"></div>
            </div>
            <span class="notification-message__text">Notification Message</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Message - inline</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <!-- info -->
          <div class="notification-message notification-message--inline notification-message--info">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- success -->
          <div class="notification-message notification-message--inline notification-message--success">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#checkmark-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- warning -->
          <div class="notification-message notification-message--inline notification-message--warning">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#warning-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- error -->
          <div class="notification-message notification-message--inline notification-message--error">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#issue-fill"></use>
            </svg>
            <span class="notification-message__text">Notification Message</span>
          </div>
          <!-- loading -->
          <div class="notification-message notification-message--inline notification-message--loading">
            <div class="loader loader--xs">
              <div class="loader__spinner"></div>
            </div>
            <span class="notification-message__text">Notification Message</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Full - lg</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <!-- info -->
          <div class="notification-full notification-full--info" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <p class="notification-full__text">정보 메세지를 입력해주세요.</p>
            <div class="notification-full__detail">
              <span class="notification-full__subtext">서버 재시작 중 IRIS 사용이 중단되며, 저장하지 않은 데이터는 삭제됩니다. 문제 발생 시, 담당자에게 연락바랍니다.</span>
            </div>
          </div>
          <!-- success -->
          <div class="notification-full notification-full--success" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#checkmark-fill"></use>
            </svg>
            <p class="notification-full__text">시스템 설정 적용 및
              서버 재시작이 완료되었습니다.</p>
            <div class="notification-full__detail">
              <button class="button button--primary button--lg" type="button" style="width: 150px;">
                <span class="button__text">확인</span>
              </button>
            </div>
          </div>
          <!-- warning -->
          <div class="notification-full notification-full--warning" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#warning-fill"></use>
            </svg>
            <p class="notification-full__text">경고 메세지를 입력해주세요.</p>
            <div class="notification-full__detail">
              <span class="notification-full__subtext">서버 재시작 중 IRIS 사용이 중단되며, 저장하지 않은 데이터는 삭제됩니다. 문제 발생 시, 담당자에게 연락바랍니다.</span> <button class="button button--negative button--lg" type="button" style="width: 150px;">
                <span class="button__text">확인</span>
              </button>
            </div>
          </div>
          <!-- error -->
          <div class="notification-full notification-full--error" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#issue-fill"></use>
            </svg>
            <p class="notification-full__text">에러 메세지를 입력해주세요.</p>
            <div class="notification-full__detail">
              <div class="notification notification--normal" style="width: 450px;" role="alert">
                <svg class="notification__icon svg-icon" aria-hidden="true">
                  <use xlink:href="#subtract"></use>
                </svg>
                <div class="notification__contents">
                  <p class="notification__title">담당자에게 연락 바랍니다.</p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- loading -->
          <div class="notification-full notification-full--loading">
            <div class="loader loader--md">
              <div class="loader__spinner"></div>
            </div>
            <p class="notification-full__text">로딩 중 메세지를 입력해주세요.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Full - sm</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <!-- info -->
          <div class="notification-full notification--normal notification-full--sm" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <p class="notification-full__text">정보 메세지를 입력해주세요.</p>
            <div class="notification-full__detail">
              <span class="notification-full__subtext">서버 재시작 중 IRIS 사용이 중단되며, 저장하지 않은 데이터는 삭제됩니다. 문제 발생 시, 담당자에게 연락바랍니다.</span>
            </div>
          </div>
          <!-- info -->
          <div class="notification-full notification-full--sm notification-full--info" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <p class="notification-full__text">정보 메세지를 입력해주세요.</p>
            <div class="notification-full__detail">
              <span class="notification-full__subtext">서버 재시작 중 IRIS 사용이 중단되며, 저장하지 않은 데이터는 삭제됩니다. 문제 발생 시, 담당자에게 연락바랍니다.</span>
            </div>
          </div>
          <!-- success -->
          <div class="notification-full notification-full--sm notification-full--success" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#checkmark-fill"></use>
            </svg>
            <p class="notification-full__text">시스템 설정 적용 및
              서버 재시작이 완료되었습니다.</p>
            <div class="notification-full__detail">
              <button class="button button--primary button--lg" type="button" style="width: 150px;">
                <span class="button__text">확인</span>
              </button>
            </div>
          </div>
          <!-- warning -->
          <div class="notification-full notification-full--sm notification-full--warning" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#warning-fill"></use>
            </svg>
            <p class="notification-full__text">경고 메세지를 입력해주세요.</p>
            <div class="notification-full__detail">
              <span class="notification-full__subtext">서버 재시작 중 IRIS 사용이 중단되며, 저장하지 않은 데이터는 삭제됩니다. 문제 발생 시, 담당자에게 연락바랍니다.</span> <button class="button button--negative button--lg" type="button" style="width: 150px;">
                <span class="button__text">확인</span>
              </button>
            </div>
          </div>
          <!-- error -->
          <div class="notification-full notification-full--sm notification-full--error" style="margin-bottom: 60px;">
            <svg class="notification-full__icon svg-icon" aria-hidden="true">
              <use xlink:href="#issue-fill"></use>
            </svg>
            <p class="notification-full__text">에러 메세지를 입력해주세요.</p>
            <div class="notification-full__detail">
              <div class="notification notification--normal" style="width: 450px;" role="alert">
                <svg class="notification__icon svg-icon" aria-hidden="true">
                  <use xlink:href="#subtract"></use>
                </svg>
                <div class="notification__contents">
                  <p class="notification__title">담당자에게 연락 바랍니다.</p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- loading -->
          <div class="notification-full notification-full--sm notification-full--loading">
            <div class="loader loader--md">
              <div class="loader__spinner"></div>
            </div>
            <p class="notification-full__text">로딩 중 메세지를 입력해주세요.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
