<!-- context menu -->
<!-- Table 마크업과 스타일링 UI 추가 시작 -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Table</h3>
</div>
<div class="page-content">
  <p class="page__desc">테이블은 데이터를 효율적으로 구성하고 표시하는데 사용됩니다.</p>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!-- table-primary -->
              <table class="table table--primary">
                <caption class="hidden">Table</caption>
                <thead>
                  <tr>
                    <th scope="col">오브젝트 ID</th>
                    <th scope="col">변수 명</th>
                    <th scope="col">변수 값</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                  <tr class="tr--selected">
                    <td>Selected Status</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!-- table-primary -->
              <table class="table table--primary table--sm">
                <caption class="hidden">Table</caption>
                <thead>
                  <tr>
                    <th scope="col">오브젝트 ID</th>
                    <th scope="col">변수 명</th>
                    <th scope="col">변수 값</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                  <tr class="tr--selected">
                    <td>Selected Status</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <!-- Drawer 마크업과 스타일링 UI 추가 시작  -->
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="component-variation">
    <span class="component-variation__name">Table Scroll</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="table-scroll">
            <table class="table table--primary">
              <caption class="hidden">Table</caption>
              <thead>
                <tr>
                  <th scope="col">오브젝트 ID</th>
                  <th scope="col">변수 명</th>
                  <th scope="col">변수 값</th>
                </tr>
              </thead>
            </table>
            <div class="overflow-y" style="max-height: 120px;">
              <!-- table-primary -->
              <table class="table table--primary">
                <caption class="hidden">Table</caption>
                <tbody>
                  <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                  <tr class="tr--selected">
                    <td>Selected Status</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <!-- Drawer 마크업과 스타일링 UI 추가 시작  -->
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                  <tr>
                    <td>GLOBAL</td>
                    <td>USER_ID</td>
                    <td>Root</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
