<!-- radio -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Radio</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="radios">
                <!-- default -->
                <div class="radio radio--lg">
                  <input type="radio" id="radioId-lg-01" name="radio-group-lg" class="radio__input" value="label" />
                  <label for="radioId-lg-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio radio--lg">
                  <input type="radio" id="radioId-lg-02" name="radio-group-lg" class="radio__input" value="label" checked />
                  <label for="radioId-lg-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio radio--lg">
                  <input type="radio" id="radioId-lg-03" name="radio-group-lg-disabled" class="radio__input" value="label" disabled />
                  <label for="radioId-lg-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio radio--lg">
                  <input type="radio" id="radioId-lg-03" name="radio-group-lg-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radioId-lg-03" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="radios">
                <!-- default -->
                <div class="radio">
                  <input type="radio" id="radioId-01" name="radio-group" class="radio__input" value="label" />
                  <label for="radioId-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio">
                  <input type="radio" id="radioId-02" name="radio-group" class="radio__input" value="label" checked />
                  <label for="radioId-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio">
                  <input type="radio" id="radioId-03" name="radio-group-disabled" class="radio__input" value="label" disabled />
                  <label for="radioId-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio">
                  <input type="radio" id="radioId-04" name="radio-group-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radioId-04" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="radios">
                <!-- default -->
                <div class="radio radio--sm">
                  <input type="radio" id="radioId-sm-01" name="radio-group-sm" class="radio__input" value="label" />
                  <label for="radioId-sm-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio radio--sm">
                  <input type="radio" id="radioId-sm-02" name="radio-group-sm" class="radio__input" value="label" checked />
                  <label for="radioId-sm-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio radio--sm">
                  <input type="radio" id="radioId-sm-03" name="radio-group-disabled-sm" class="radio__input" value="label" disabled />
                  <label for="radioId-sm-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio radio--sm">
                  <input type="radio" id="radioId-sm-03" name="radio-group-disabled-sm" class="radio__input" value="label" checked disabled />
                  <label for="radioId-sm-03" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Radio Switch</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="radio-switch">
                <!-- default -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-01" name="radio-switch-group-lg" class="radio__input" value="label" />
                  <label for="radio-switch-lg-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-02" name="radio-switch-group-lg" class="radio__input" value="label" checked />
                  <label for="radio-switch-lg-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-03" name="radio-switch-group-lg-disabled" class="radio__input" value="label" disabled />
                  <label for="radio-switch-lg-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-03" name="radio-switch-group-lg-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radio-switch-lg-03" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="radio-switch">
                <!-- default -->
                <div class="radio">
                  <input type="radio" id="radio-switch-01" name="radio-switch-group" class="radio__input" value="label" />
                  <label for="radio-switch-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio">
                  <input type="radio" id="radio-switch-02" name="radio-switch-group" class="radio__input" value="label" checked />
                  <label for="radio-switch-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio">
                  <input type="radio" id="radio-switch-03" name="radio-switch-group-disabled" class="radio__input" value="label" disabled />
                  <label for="radio-switch-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio">
                  <input type="radio" id="radio-switch-03" name="radio-switch-group-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radio-switch-03" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="radio-switch">
                <!-- default -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-01" name="adio-switch-group-sm" class="radio__input" value="label" />
                  <label for="radio-switch-sm-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-02" name="adio-switch-group-sm" class="radio__input" value="label" checked />
                  <label for="radio-switch-sm-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-03" name="adio-switch-group-sm-disabled" class="radio__input" value="label" disabled />
                  <label for="radio-switch-sm-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-03" name="adio-switch-group-sm-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radio-switch-sm-03" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
