<!-- badge -->
<div class="page-header">
  <strong class="page-header__lable">Module Component</strong>
  <h3 class="page-header__title">Search Group</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="search-group">
                <div class="text-input-wrap">
                  <input type="text" class="text-input" />
                  <button class="button button--primary" type="button">
                    <span class="hidden">검색</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#search"></use>
                    </svg>
                  </button>
                </div>
                <button class="button button--primary" type="button">
                  <span class="button__text">상세 검색</span>
                </button>
                <div class="checkbox">
                  <input type="checkbox__input" id="search-inp1">
                  <label for="search-inp1" class="checkbox__label">AND 검색</label>
                </div>

              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="h-group">
                <div class="badge">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--red">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--cyan">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--green">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--teal">
                  <span class="badge__label">Badge</span>
                </div>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="h-group">
                <div class="badge badge--sm">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--sm badge--red">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--sm badge--cyan">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--sm badge--green">
                  <span class="badge__label">Badge</span>
                </div>
                <div class="badge badge--sm badge--teal">
                  <span class="badge__label">Badge</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
