<!-- loader -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Loader</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="loader loader--lg" role="alert" aria-live="assertive">
                <div class="loader__spinner"></div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="loader loader--md" role="alert" aria-live="assertive">
                <div class="loader__spinner"></div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="loader loader--sm" role="alert" aria-live="assertive">
                <div class="loader__spinner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Loader Bar Type</span>
    <div class="component-example">
      <div class="component-example__live">
        <div style="width: 400px;">
          <div class="loading-bar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
