<!-- tag -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Tag</h3>
</div>
<div class="page-content">
  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <!-- default -->
              <button type="button" class="tag tag--lg" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <button type="button" class="tag tag--lg tag--red" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <button type="button" class="tag tag--lg tag--red-deep" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <!-- disabled -->
              <button type="button" class="tag tag--lg tag--red-deep" disabled title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <!-- default -->
              <button class="tag">
                <span class="tag__label">TAG1</span>
              </button>
              <button type="button" class="tag tag--cyan" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <button type="button" class="tag tag--cyan-deep" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <!--  disabled -->
              <button type="button" class="tag tag--cyan-deep" disabled title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <!-- default -->
              <button type="button" class="tag tag--sm" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <button type="button" class="tag tag--sm tag--green" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <button type="button" class="tag tag--sm tag--green-deep" title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
              <!-- disabled -->
              <button type="button" class="tag tag--sm tag--green-deep" disabled title="Tag">
                <span class="tag__label">TAG1</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Link tag(Link + Delete Button)</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="tag tag--lg">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--lg tag--teal">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--lg tag--teal-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="tag">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--green-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--purple">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="tag tag--sm tag--purple-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--sm tag--green">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--sm tag--cyan-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button" title="삭제">
                  <span class="hidden">삭제</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
