<!-- button -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Button</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Primary Button</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <button class="button button--primary button--lg" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--lg" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--primary button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <button class="button button--primary" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--primary" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <button class="button button--primary button--sm" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--sm" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--primary button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Link Button</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <button class="button button--link button--lg" type="button">
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--link button--lg" type="button" disabled="disabled">
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--link button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--link button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <button class="button button--link" type="button">
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--link" type="button" disabled="disabled">
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--link" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--link" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <button class="button button--link button--sm" type="button">
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--link button--sm" type="button" disabled="disabled">
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--link button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--link button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Negative Button</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <button class="button button--negative button--lg" type="button">
                <span class="button__text">Negative Button</span>
              </button>
              <button class="button button--negative button--lg" type="button" disabled="disabled">
                Negative Button
              </button>
              <button class="button button--negative button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Negative Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--negative button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <button class="button button--negative" type="button">
                <span class="button__text">Negative Button</span>
              </button>
              <button class="button button--negative" type="button" disabled="disabled">Negative Button</button>
              <button class="button button--negative" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Negative Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--negative" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component__row">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <button class="button button--negative button--sm" type="button">
                <span class="button__text">Negative Button</span>
              </button>
              <button class="button button--negative button--sm" type="button" disabled="disabled">
                Negative Button
              </button>
              <button class="button button--negative button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Negative Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--negative button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
