<!-- context menu -->
<div class="page-header">
  <strong class="page-header__lable">Component</strong>
  <h3 class="page-header__title">Progressbar</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div style="width: 100%;">
          <div class="component__contents justify-center">
            <p class="component__label">Size: sm</p>
            <div class="component__group component__group--column">
              <div class="progressbar progressbar--sm" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progressbar__gage" title="70%">
                </div>
              </div>
              <label class="hidden" for="bar-gage-01">Loading:</label>
              <progress id="bar-gage-01" class="progressbar progressbar--sm" value="20" max="100">
                <strong>20%</strong>
              </progress>
            </div>
          </div>
          <div class="component__contents justify-center">
            <p class="component__label">Size: md</p>
            <div class="component__group component__group--column">
              <div class="progressbar">
                <div class="progressbar__gage" title="70%">
                  <span class="progressbar__text">70.00%</span>
                </div>
              </div>
              <label class="hidden" for="bar-gage-02">Loading:</label>
              <progress id="bar-gage-02" class="progressbar" value="20" max="100">
                <strong>20%</strong>
              </progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Normal</span>
    <div class="component__example">
      <div class="component__views">
        <div style="width: 100%;">
          <div class="component__contents justify-center">
            <p class="component__label">Size: sm</p>
            <div class="component__group component__group--column">
              <div class="progressbar progressbar--normal progressbar--sm" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progressbar__gage" title="70%">
                </div>
              </div>
              <label class="hidden" for="bar-gage-03">Loading:</label>
              <progress id="bar-gage-03" class="progressbar progressbar--normal progressbar--sm" value="20" max="100">
                <strong>20%</strong>
              </progress>
            </div>
          </div>
          <div class="component__contents justify-center">
            <p class="component__label">Size: md</p>
            <div class="component__group component__group--column">
              <div class="progressbar progressbar--normal" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progressbar__gage" title="70%">
                  <span class="progressbar__text">70.00%</span>
                </div>
              </div>
              <label class="hidden" for="bar-gage-04">Loading:</label>
              <progress id="bar-gage-04" class="progressbar progressbar--normal" value="20" max="100">
                <strong>20%</strong>
              </progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Critical</span>
    <div class="component__example">
      <div class="component__views">
        <div style="width: 100%;">
          <div class="component__contents justify-center">
            <p class="component__label">Size: sm</p>
            <div class="component__group component__group--column">
              <div class="progressbar progressbar--critical progressbar--sm" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progressbar__gage" title="70%">
                </div>
              </div>
              <label class="hidden" for="bar-gage-05">Loading:</label>
              <progress id="bar-gage-05" class="progressbar progressbar--critical progressbar--sm" value="20" max="100">
                <strong>20%</strong>
              </progress>
            </div>
          </div>
          <div class="component__contents justify-center">
            <p class="component__label">Size: md</p>
            <div class="component__group component__group--column">
              <div class="progressbar progressbar--critical" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progressbar__gage" title="70%">
                  <span class="progressbar__text">70.00%</span>
                </div>
              </div>
              <label class="hidden" for="bar-gage-06">Loading:</label>
              <progress id="bar-gage-06" class="progressbar progressbar--critical" value="20" max="100">
                <strong>20%</strong>
              </progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
