<!-- Text Input Group -->
<div class="page-header">
  <strong class="page-header__lable">Component</strong>
  <h3 class="page-header__title">Text Input Group</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="text-input-group text-input-group--lg">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <div class="text-input-group text-input-group--lg text-input-group--disabled">
                <label for="search-inp2" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp2" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." disabled />
                <button class="text-input-group__clear-button button" title="초기화 disabled">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary" disabled>
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="text-input-group">
                <label for="search-inp3" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp3" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
              <div class="text-input-group text-input-group--disabled">
                <label for="search-inp4" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp4" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." disabled />
                <button class="text-input-group__clear-button button" title="초기화" disabled>
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary" disabled>
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="h-group">
                <div class="text-input-group text-input-group--sm">
                  <label for="search-inp5" class="hidden">검색어를 입력하세요.</label>
                  <input id="search-inp5" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                  <button class="text-input-group__clear-button button" title="초기화">
                    <span class="hidden">초기화</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                  <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                    <span class="hidden">검색</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#search"></use>
                    </svg>
                  </button>
                </div>
                <div class="text-input-group text-input-group--sm text-input-group--disabled">
                  <label for="search-inp6" class="hidden">검색어를 입력하세요.</label>
                  <input id="search-inp6" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." disabled />
                  <button class="text-input-group__clear-button button" title="초기화" disabled>
                    <span class="hidden">초기화</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                  <button title="검색" class="text-input-group__search-button button button--icon button--primary" disabled>
                    <span class="hidden">검색</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#search"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="component">
    <span class="component__name">With Autocomplete</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="text-input-group text-input-group--lg text-input-group--autocomplete">
                <label for="search-inp7" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp7" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
                <div class="autocomplete">
                  <div class="autocomplete__top-bar">
                    <span class="autocomplete__title">인기 검색어</span>
                    <button class="autocomplete__delete-button button button--sm button--link" type="button">
                      <span class="button__text">전체삭제</span>
                    </button>
                  </div>
                  <ul class="autocomplete__list">
                    <li class="autocomplete__item">
                      <a href="#none" class="autocomplete__link">최근 검색어는 이렇습니다. </a>
                      <button class="autocomplete__delete-button button button--sm button--link button--icon">
                        <span class="hidden">삭제</span>
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="autocomplete__item">
                      <a href="#none" class="autocomplete__link">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, cum! Consequatur fugit in quis laudantium, molestiae quo eveniet illo incidunt! </a>
                      <button class="autocomplete__delete-button button button--sm button--link button--icon">
                        <span class="hidden">삭제</span>
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="text-input-group text-input-group--autocomplete">
                <label for="search-inp8" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp8" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>

                <div class="autocomplete">
                  <div class="autocomplete__top-bar">
                    <span class="autocomplete__title">인기 검색어</span>
                    <button class="autocomplete__delete-button button button--sm button--link" type="button">
                      <span class="button__text">전체삭제</span>
                    </button>
                  </div>
                  <ul class="autocomplete__list">
                    <li class="autocomplete__item">
                      <a href="#none" class="autocomplete__link">최근 검색어는 이렇습니다. </a>
                      <button class="autocomplete__delete-button button button--sm button--link button--icon">
                        <span class="hidden">삭제</span>
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </li>
                    <li class="autocomplete__item">
                      <a href="#none" class="autocomplete__link">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, cum! Consequatur fugit in quis laudantium, molestiae quo eveniet illo incidunt! </a>
                      <button class="autocomplete__delete-button button button--sm button--link button--icon">
                        <span class="hidden">삭제</span>
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="h-group">
                <div class="text-input-group text-input-group--sm text-input-group--autocomplete">
                  <label for="search-inp9" class="hidden">검색어를 입력하세요.</label>
                  <input id="search-inp9" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                  <button class="text-input-group__clear-button button" title="초기화">
                    <span class="hidden">초기화</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                  <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                    <span class="hidden">검색</span>
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#search"></use>
                    </svg>
                  </button>

                  <div class="autocomplete">
                    <div class="autocomplete__top-bar">
                      <span class="autocomplete__title">인기 검색어</span>
                      <button class="autocomplete__delete-button button button--sm button--link" type="button">
                        <span class="button__text">전체삭제</span>
                      </button>
                    </div>
                    <ul class="autocomplete__list">
                      <li class="autocomplete__item">
                        <a href="#none" class="autocomplete__link">최근 검색어는 이렇습니다. </a>
                        <button class="autocomplete__delete-button button button--sm button--link button--icon">
                          <span class="hidden">삭제</span>
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#close"></use>
                          </svg>
                        </button>
                      </li>
                      <li class="autocomplete__item">
                        <a href="#none" class="autocomplete__link">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, cum! Consequatur fugit in quis laudantium, molestiae quo eveniet illo incidunt! </a>
                        <button class="autocomplete__delete-button button button--sm button--link button--icon">
                          <span class="hidden">삭제</span>
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#close"></use>
                          </svg>
                        </button>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
