<!-- badge -->
<div class="page-header">
  <strong class="page-header__lable">Component</strong>
  <h3 class="page-header__title">Table</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <div class="component__group">

              <table class="table">
                <caption class="caption-out">
                  테이블 목록
                </caption>
                <thead>
                  <tr>
                    <th scope="col">선택</th>
                    <th scope="col">NO</th>
                    <th scope="col">사용자 코드</th>
                    <th scope="col">이름</th>
                    <th scope="col">부서</th>
                    <th scope="col">직책</th>
                    <th scope="col">권한</th>
                    <th scope="col">사용자그룹</th>
                    <th scope="col">사용자상태</th>
                    <th scope="col">사용자연동일</th>
                    <th scope="col">최종로그인 일자</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input id="choice-check-01" type="checkbox" class="checkbox__input" value="label" />
                        <label for="choice-check-01" class="checkbox__label">
                          <span class="hidden">사용</span>
                        </label>
                      </div>
                    </td>
                    <td>333</td>
                    <td>308525</td>
                    <td>홍길이</td>
                    <td>경영기획팀</td>
                    <td>책임</td>
                    <td>사용자</td>
                    <td>분석그룹</td>
                    <td>사용</td>
                    <td>2022-06-16</td>
                    <td>
                      <div class="h-group table__buttons">
                        <button class="button button--underline">
                          <span class="button__text">수정</span>
                        </button>
                        <button class="button button--underline-negative">
                          <span class="button__text">삭제</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr class="tr--selected">
                    <td>
                      <div class="checkbox">
                        <input id="choice-check-02" type="checkbox" class="checkbox__input" value="label" checked />
                        <label for="choice-check-02" class="checkbox__label">
                          <span class="hidden">사용</span>
                        </label>
                      </div>
                    </td>
                    <td>333</td>
                    <td>308525</td>
                    <td>홍길이</td>
                    <td>경영기획팀</td>
                    <td>책임</td>
                    <td>사용자</td>
                    <td>분석그룹</td>
                    <td>사용</td>
                    <td>2022-06-16</td>
                    <td>
                      <div class="h-group table__buttons">
                        <button class="button button--underline">
                          <span class="button__text">수정</span>
                        </button>
                        <button class="button button--underline-negative">
                          <span class="button__text">삭제</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input id="choice-check-03" type="checkbox" class="checkbox__input" value="label" />
                        <label for="choice-check-03" class="checkbox__label">
                          <span class="hidden">사용</span>
                        </label>
                      </div>
                    </td>
                    <td>333</td>
                    <td>308525</td>
                    <td>홍길이</td>
                    <td>경영기획팀</td>
                    <td>책임</td>
                    <td>사용자</td>
                    <td>분석그룹</td>
                    <td>사용</td>
                    <td>2022-06-16</td>
                    <td>
                      <div class="h-group table__buttons">
                        <button class="button button--underline">
                          <span class="button__text">수정</span>
                        </button>
                        <button class="button button--underline-negative">
                          <span class="button__text">삭제</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input id="choice-check-04" type="checkbox" class="checkbox__input" value="label" />
                        <label for="choice-check-04" class="checkbox__label">
                          <span class="hidden">사용</span>
                        </label>
                      </div>
                    </td>
                    <td>333</td>
                    <td>308525</td>
                    <td>홍길이</td>
                    <td>경영기획팀</td>
                    <td>책임</td>
                    <td>사용자</td>
                    <td>분석그룹</td>
                    <td>사용</td>
                    <td>2022-06-16</td>
                    <td>
                      <div class="h-group table__buttons">
                        <button class="button button--underline">
                          <span class="button__text">수정</span>
                        </button>
                        <button class="button button--underline-negative">
                          <span class="button__text">삭제</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="checkbox">
                        <input id="choice-check-05" type="checkbox" class="checkbox__input" value="label" />
                        <label for="choice-check-05" class="checkbox__label">
                          <span class="hidden">사용</span>
                        </label>
                      </div>
                    </td>
                    <td>333</td>
                    <td>308525</td>
                    <td>홍길이</td>
                    <td>경영기획팀</td>
                    <td>책임</td>
                    <td>사용자</td>
                    <td>분석그룹</td>
                    <td>사용</td>
                    <td>2022-06-16</td>
                    <td>
                      <div class="h-group table__buttons">
                        <button class="button button--underline">
                          <span class="button__text">수정</span>
                        </button>
                        <button class="button button--underline-negative">
                          <span class="button__text">삭제</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
