<!-- tag -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Tag</h3>
</div>
<div class="page-content">
  <p class="page__desc">
    태그는 각 항목을 설명하는 키워드로 사용하여<br />항목에 레이블 지정, 분류(categorizing) 또는 정리할 수 있습니다.
  </p>

  <div class="component-variation">
    <span class="component-variation__name">Button Tag </span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!-- default -->
              <button class="tag tag--lg">
                <span class="tag__label">TAG1</span>
              </button>
              <button class="tag tag--lg tag--red">
                <span class="tag__label">TAG1</span>
              </button>
              <button class="tag tag--lg tag--red-deep">
                <span class="tag__label">TAG1</span>
              </button>
              <!-- disabled -->
              <button class="tag tag--lg tag--red-deep" disabled>
                <span class="tag__label">TAG1</span>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!-- default -->
              <button class="tag">
                <span class="tag__label">TAG1</span>
              </button>
              <button class="tag tag--cyan">
                <span class="tag__label">TAG1</span>
              </button>
              <button class="tag tag--cyan-deep">
                <span class="tag__label">TAG1</span>
              </button>
              <!--  disabled -->
              <button class="tag tag--cyan-deep" disabled>
                <span class="tag__label">TAG1</span>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <!-- default -->
              <button class="tag tag--sm">
                <span class="tag__label">TAG1</span>
              </button>
              <button class="tag tag--sm tag--green">
                <span class="tag__label">TAG1</span>
              </button>
              <button class="tag tag--sm tag--green-deep">
                <span class="tag__label">TAG1</span>
              </button>
              <!-- disabled -->
              <button class="tag tag--sm tag--green-deep" disabled>
                <span class="tag__label">TAG1</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Link tag(a Link + Delete Button)</span>
    <p class="component-variation__desc">Removable Tag과 동일한 UI로 보이지만, 접근성을 고려해서 페이지 이동이 되는 a 요소와 태그를 삭제할 수 있는 Button 요소를 사용한 구성입니다.</p>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <div class="tag tag--lg">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--lg tag--teal">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--lg tag--teal-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <div class="tag">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--green-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--purple">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <div class="tag tag--sm tag--purple-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--sm tag--green">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
              <div class="tag tag--sm tag--cyan-deep">
                <a href="https://www.naver.com/" target="_blank" class="tag__link">
                  <span class="tag__label">TAG1</span>
                </a>
                <button class="tag__delete-button" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
