<!-- tab -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Tab</h3>
</div>
<div class="page-content">
  <p class="page__desc">탭은 서로 다른 화면을 쉽게 전환하는데 사용합니다.</p>

  <div class="component-variation">
    <span class="component-variation__name">Default Tab - horizontal</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="tab tab--horizontal" role="tablist" aria-label="Sample Tabs">
            <ul class="tab__bar">
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab1</span>
                </button>
              </li>
              <!-- 선택된 항목에 tab__item--selected 클래스 추가 -->
              <li class="tab__item tab__item--selected">
                <button type="button" class="tab__button" role="tab" aria-selected="true">
                  <span class="tab__button-text">Tab2</span>
                </button>
              </li>
              <!-- 비활성 항목에 tab__item--disabled 클래스 추가 -->
              <li class="tab__item tab__item--disabled">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab5 - removable, disabled</span>
                </button>
              </li>
            </ul>
            <div class="tab__panel">
              <div class="tab__contents">
                <p>Content of Tab1</p>
              </div>
              <div class="tab__contents tab__contents--active">
                <p>Content of Tab2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Tab - vertical</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="tab tab--vertical" role="tablist" aria-label="Sample Tabs">
            <ul class="tab__bar">
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab1</span>
                </button>
              </li>
              <li class="tab__item tab__item--selected">
                <button type="button" class="tab__button" role="tab" aria-selected="true">
                  <span class="tab__button-text">Tab2</span>
                </button>
              </li>
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab3</span>
                </button>
              </li>
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab4</span>
                </button>
              </li>
              <li class="tab__item tab__item--disabled">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab5</span>
                </button>
              </li>
            </ul>
            <div class="tab__panel">
              <div class="tab__contents">
                <p>Content of Tab1</p>
              </div>
              <div class="tab__contents tab__contents--active">
                <p>Content of Tab2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Pagination Tab - horizontal</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="tab tab--horizontal tab--pagination" role="tablist" aria-label="Sample Tabs">
            <button type="button" class="button button--sm button--link button--icon tab__previous-button" title="좌측으로 이동">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-left-medium"></use>
              </svg>
            </button>
            <button type="button" class="button button--sm button--link button--icon tab__next-button" title="우측으로 이동">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#chevron-right-medium"></use>
              </svg>
            </button>
            <div class="tab__bar-wrap">
              <ul class="tab__bar">
                <li class="tab__item">
                  <button type="button" class="tab__button" role="tab" aria-selected="false">
                    <span class="tab__button-text">Tab1</span>
                  </button>
                </li>
                <!-- 선택된 항목에 tab__item--selected 클래스 추가 -->
                <li class="tab__item tab__item--selected">
                  <button type="button" class="tab__button" role="tab" aria-selected="true">
                    <span class="tab__button-text">Tab2</span>
                  </button>
                </li>
                <li class="tab__item">
                  <button type="button" class="tab__button" role="tab" aria-selected="false">
                    <span class="tab__button-text">Tab2-2</span>
                  </button>
                </li>
                <li class="tab__item">
                  <button type="button" class="tab__button" role="tab" aria-selected="false">
                    <span class="tab__button-text">Tab3 - removable</span>
                  </button>
                </li>
                <li class="tab__item">
                  <button type="button" class="tab__button" role="tab" aria-selected="false">
                    <span class="tab__button-text">Tab4 - removable</span>
                  </button>
                </li>
                <!-- 비활성 항목에 tab__item--disabled 클래스 추가 -->
                <li class="tab__item tab__item--disabled">
                  <button type="button" class="tab__button" role="tab" aria-selected="false">
                    <span class="tab__button-text">Tab5 - removable, disabled</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Container Tab - horizontal</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="tab tab--container tab--horizontal" role="tablist" aria-label="Sample Tabs">
            <ul class="tab__bar">
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab1</span>
                </button>
              </li>
              <li class="tab__item tab__item--selected">
                <button type="button" class="tab__button" role="tab" aria-selected="true">
                  <span class="tab__button-text">Tab2</span>
                </button>
              </li>
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab3</span>
                </button>
              </li>
              <li class="tab__item tab__item--disabled">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab4</span>
                </button>
              </li>
            </ul>
            <div class="tab__panel">
              <div class="tab__contents">
                <p>Content of Tab1</p>
              </div>
              <div class="tab__contents tab__contents--active">
                <p>Content of Tab2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Container Tab - vertical</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="tab tab--container tab--vertical" role="tablist" aria-label="Sample Tabs">
            <ul class="tab__bar">
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab1</span>
                </button>
              </li>
              <li class="tab__item tab__item--selected">
                <button type="button" class="tab__button" role="tab" aria-selected="true">
                  <span class="tab__button-text">Tab2</span>
                </button>
              </li>
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab3</span>
                </button>
              </li>
              <li class="tab__item">
                <button type="button" class="tab__button" role="tab" aria-selected="false">
                  <span class="tab__button-text">Tab4</span>
                </button>
              </li>
            </ul>
            <div class="tab__panel">
              <div class="tab__contents">
                <p>Content of Tab1</p>
              </div>
              <div class="tab__contents tab__contents--active">
                <p>Content of Tab2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
