<!-- text-input -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Text Input</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="inp-lg-01" class="hidden">Label</label>
              <input type="text" id="inp-lg-01" class="text-input text-input--lg" placeholder="placeholder text" />
              <!-- filled -->
              <label for="inp-lg-02" class="hidden">Label</label>
              <input type="text" id="inp-lg-02" class="text-input text-input--lg" placeholder="placeholder text" value="input filled" />
              <!-- disabled -->
              <label for="inp-lg-03" class="hidden">Label</label>
              <input type="text" id="inp-lg-03" class="text-input text-input--lg" placeholder="placeholder text" disabled />
              <!-- filled + disabled -->
              <label for="inp-lg-04" class="hidden">Label</label>
              <input type="text" id="inp-lg-04" class="text-input text-input--lg" placeholder="placeholder text" value="input filled" disabled />
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="inp-01" class="hidden">Label</label>
              <input type="text" id="inp-01" class="text-input" placeholder="placeholder text" />
              <div class="notification-message notification-message--error" style="align-self: flex-start">
                <svg class="notification-message__icon svg-icon" aria-hidden="true">
                  <use xlink:href="#issue-fill"></use>
                </svg>
                <span class="notification-message__text">Notification Message</span>
              </div>
              <!-- filled -->
              <label for="inp-02" class="hidden">Label</label>
              <input type="text" id="inp-02" class="text-input" placeholder="placeholder text" value="input filled" />
              <div class="notification-message notification-message--info" style="align-self: flex-start">
                <svg class="notification-message__icon svg-icon" aria-hidden="true">
                  <use xlink:href="#info-fill"></use>
                </svg>
                <span class="notification-message__text">Notification Message</span>
              </div>
              <!-- disabled -->
              <label for="inp-03" class="hidden">Label</label>
              <input type="text" id="inp-03" class="text-input" placeholder="placeholder text" disabled />
              <!-- filled + disabled -->
              <label for="inp-04" class="hidden">Label</label>
              <input type="text" id="inp-04" class="text-input" placeholder="placeholder text" value="input filled" disabled />
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="inp-sm-01" class="hidden">Label</label>
              <input type="text" id="inp-sm-01" class="text-input text-input--sm" placeholder="placeholder text" />
              <!-- filled -->
              <label for="inp-sm-02" class="hidden">Label</label>
              <input type="text" id="inp-sm-02" class="text-input text-input--sm" placeholder="placeholder text" value="input filled" />
              <!-- disabled -->
              <label for="inp-sm-03" class="hidden">Label</label>
              <input type="text" id="inp-sm-03" class="text-input text-input--sm" placeholder="placeholder text" disabled />
              <!-- filled + disabled -->
              <label for="inp-sm-04" class="hidden">Label</label>
              <input type="text" id="inp-sm-04" class="text-input text-input--sm" placeholder="placeholder text" value="input filled" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
