<!-- context menu -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Pagination</h3>
</div>
<div class="page-content">
  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__row">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="pagination">
                <button class="pagination__button button button--link" type="button" title="첫 페이지로 이동하기">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-double-left-medium"></use>
                  </svg>
                </button>
                <button class="pagination__button button button--link" type="button" title="이전 페이지로 이동하기">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-left-medium"></use>
                  </svg>
                </button>
                <ul class="pagination__list">
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 1 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 2 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 3 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 4 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 5 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 6 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 7 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 8 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 9 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 10 </a>
                  </li>
                  <li class="pagination__item">
                    <span class="pagination__ellipsis"> ... </span>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 20 </a>
                  </li>
                </ul>
                <button class="pagination__button button button--link" type="button" title="다음 페이지로 이동하기">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-right-medium"></use>
                  </svg>
                </button>
                <button class="pagination__button button button--link" type="button" title="마지막 페이지로 이동하기">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-double-right-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
