<!-- loader -->
<div class="page-header">
	<strong class="page-header__lable">Component</strong>
	<h3 class="page-header__title">Loader</h3>
</div>
<div class="page-content">

	<div class="component">
		<span class="component__name">Default</span>
		<div class="component__example">
			<div class="component__views">
				<div>
					<div class="component__contents">
						<p class="component__label">Size: lg</p>
						<div class="component__group">
							<div class="loader loader--lg" role="alert" aria-live="assertive">
								<svg class="loader__icon" width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M25.5 3C25.5 1.61929 26.6193 0.5 28 0.5C43.1878 0.5 55.5 12.8122 55.5 28C55.5 43.1878 43.1878 55.5 28 55.5C12.8122 55.5 0.5 43.1878 0.5 28C0.5 26.6193 1.61929 25.5 3 25.5C4.38071 25.5 5.5 26.6193 5.5 28C5.5 40.4264 15.5736 50.5 28 50.5C40.4264 50.5 50.5 40.4264 50.5 28C50.5 15.5736 40.4264 5.5 28 5.5C26.6193 5.5 25.5 4.38071 25.5 3Z"
									/>
								</svg>
							</div>
						</div>
					</div>
					<div class="component__contents">
						<p class="component__label">Size: md</p>
						<div class="component__group">
							<div class="loader loader--md" role="alert" aria-live="assertive">
								<svg class="loader__icon" width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M25.5 3C25.5 1.61929 26.6193 0.5 28 0.5C43.1878 0.5 55.5 12.8122 55.5 28C55.5 43.1878 43.1878 55.5 28 55.5C12.8122 55.5 0.5 43.1878 0.5 28C0.5 26.6193 1.61929 25.5 3 25.5C4.38071 25.5 5.5 26.6193 5.5 28C5.5 40.4264 15.5736 50.5 28 50.5C40.4264 50.5 50.5 40.4264 50.5 28C50.5 15.5736 40.4264 5.5 28 5.5C26.6193 5.5 25.5 4.38071 25.5 3Z"
									/>
								</svg>
							</div>
						</div>
					</div>
					<div class="component__contents">
						<p class="component__label">Size: sm</p>
						<div class="component__group">
							<div class="loader loader--sm" role="alert" aria-live="assertive">
								<svg class="loader__icon" width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
									<path
										fill-rule="evenodd"
										clip-rule="evenodd"
										d="M25.5 3C25.5 1.61929 26.6193 0.5 28 0.5C43.1878 0.5 55.5 12.8122 55.5 28C55.5 43.1878 43.1878 55.5 28 55.5C12.8122 55.5 0.5 43.1878 0.5 28C0.5 26.6193 1.61929 25.5 3 25.5C4.38071 25.5 5.5 26.6193 5.5 28C5.5 40.4264 15.5736 50.5 28 50.5C40.4264 50.5 50.5 40.4264 50.5 28C50.5 15.5736 40.4264 5.5 28 5.5C26.6193 5.5 25.5 4.38071 25.5 3Z"
									/>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="component">
		<span class="component__name">Loader Bar Type</span>
		<div class="component__example">
			<div class="component__views">
				<div style="width: 400px;">
					<div class="loading-bar">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
