<!-- button -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Button</h3>
</div>
<div class="page-content">
  <p class="page__desc">버튼은 사용자가 클릭하거나 터치 할 때 발생할 동작을 나타냅니다.</p>

  <div class="component-variation">
    <span class="component-variation__name">Primary Button</span>
    <p class="component-variation__desc">화면에서 가장 주요한 액션에 사용하는 버튼입니다. 한 화면에 한번만 사용하는걸 기본으로 합니다.</p>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--primary button--lg" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--lg" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--primary button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--primary" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--primary" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--primary button--sm" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--sm" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button--primary button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--primary button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Secondary Button</span>
    <p class="component-variation__desc">primary와 default 버튼의 중간 정도 위계를 갖는 액션에 사용합니다. </p>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--secondary button--lg" type="button">Secondary Button</button>
              <button class="button button--secondary button--lg" type="button" disabled="disabled">
                Secondary Button
              </button>
              <button class="button button--secondary button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Secondary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--secondary button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--secondary" type="button">Secondary Button</button>
              <button class="button button--secondary" type="button" disabled="disabled">Secondary Button</button>
              <button class="button button--secondary" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Secondary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--secondary" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--secondary button--sm" type="button">Secondary Button</button>
              <button class="button button--secondary button--sm" type="button" disabled="disabled">
                Secondary Button
              </button>
              <button class="button button--secondary button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Secondary Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--secondary button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Link Button</span>
    <p class="component-variation__desc">링크와 같이 명확한 페이지 이동 등의 액션에 사용합니다.</p>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--link button--lg" type="button">Link Button</button>
              <button class="button button--link button--lg" type="button" disabled="disabled">
                Link Button
              </button>
              <button class="button button--link button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--link button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--link" type="button">Link Button</button>
              <button class="button button--link" type="button" disabled="disabled">Link Button</button>
              <button class="button button--link" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--link" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--link button--sm" type="button">Link Button</button>
              <button class="button button--link button--sm" type="button" disabled="disabled">
                Link Button
              </button>
              <button class="button button--link button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--link button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Danger Button</span>
    <p class="component-variation__desc">삭제 또는 탈퇴 등 주의를 요하는 행위에 사용하는 버튼입니다. </p>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--danger button--lg" type="button">Danger Button</button>
              <button class="button button--danger button--lg" type="button" disabled="disabled">
                Danger Button
              </button>
              <button class="button button--danger button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Danger Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--danger button--lg" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--danger" type="button">Danger Button</button>
              <button class="button button--danger" type="button" disabled="disabled">Danger Button</button>
              <button class="button button--danger" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Danger Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--danger" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--column">
              <button class="button button--danger button--sm" type="button">Danger Button</button>
              <button class="button button--danger button--sm" type="button" disabled="disabled">
                Danger Button
              </button>
              <button class="button button--danger button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
                <span class="button__text">Danger Button</span>
              </button>
              <button title="icon-button" class="button button--icon button--danger button--sm" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#home"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
