<!-- radio -->
<div class="page-header">
  <strong class="page-header__lable">Component</strong>
  <h3 class="page-header__title">Radio</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="text-input-group text-input-group--lg" style="width: 240px">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="text-input-group" style="width: 200px">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="text-input-group text-input-group--sm" style="width: 160px">
                <label for="search-inp1" class="hidden">검색어를 입력하세요.</label>
                <input id="search-inp1" type="text" class="text-input-group__input" placeholder="검색어를 입력하세요." />
                <button class="text-input-group__clear-button button" title="초기화">
                  <span class="hidden">초기화</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
                <button title="검색" class="text-input-group__search-button button button--icon button--primary">
                  <span class="hidden">검색</span>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#search"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component">
    <span class="component__name">Radio Switch</span>
    <div class="component__example">
      <div class="component__views">
        <div>
          <div class="component__contents">
            <p class="component__label">Size: lg</p>
            <div class="component__group">
              <div class="radio-switch">
                <!-- default -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-01" name="radio-switch-group-lg" class="radio__input" value="label" />
                  <label for="radio-switch-lg-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-02" name="radio-switch-group-lg" class="radio__input" value="label" checked />
                  <label for="radio-switch-lg-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-03" name="radio-switch-group-lg-disabled" class="radio__input" value="label" disabled />
                  <label for="radio-switch-lg-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio radio--lg">
                  <input type="radio" id="radio-switch-lg-04" name="radio-switch-group-lg-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radio-switch-lg-04" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: md</p>
            <div class="component__group">
              <div class="radio-switch">
                <!-- default -->
                <div class="radio">
                  <input type="radio" id="radio-switch-01" name="radio-switch-group" class="radio__input" value="label" />
                  <label for="radio-switch-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio">
                  <input type="radio" id="radio-switch-02" name="radio-switch-group" class="radio__input" value="label" checked />
                  <label for="radio-switch-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio">
                  <input type="radio" id="radio-switch-03" name="radio-switch-group-disabled" class="radio__input" value="label" disabled />
                  <label for="radio-switch-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio">
                  <input type="radio" id="radio-switch-032" name="radio-switch-group-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radio-switch-032" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
          <div class="component__contents">
            <p class="component__label">Size: sm</p>
            <div class="component__group">
              <div class="radio-switch">
                <!-- default -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-01" name="adio-switch-group-sm" class="radio__input" value="label" />
                  <label for="radio-switch-sm-01" class="radio__label">label </label>
                </div>
                <!-- checked -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-02" name="adio-switch-group-sm" class="radio__input" value="label" checked />
                  <label for="radio-switch-sm-02" class="radio__label">label </label>
                </div>
                <!-- disabled -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-03" name="adio-switch-group-sm-disabled" class="radio__input" value="label" disabled />
                  <label for="radio-switch-sm-03" class="radio__label">label </label>
                </div>
                <!-- checked + disabled -->
                <div class="radio radio--sm">
                  <input type="radio" id="radio-switch-sm-04" name="adio-switch-group-sm-disabled" class="radio__input" value="label" checked disabled />
                  <label for="radio-switch-sm-04" class="radio__label">label </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
