<!-- accordion -->
<div class="page-header">
	<strong class="page-header__lable">Component</strong>
	<h3 class="page-header__title">Pagination</h3>
</div>
<div class="page-content">

	<div class="component">
		<span class="component__name">Default</span>
		<div class="component__example">
			<div class="component__views">
				<div>
					<div class="component__contents">
						<p class="component__label">Size: md</p>
						<div class="component__group">
							<div class="pagination">
								<button class="button pagination__button button--link" title="첫 페이지로 이동하기" >
									<span class="hidden">첫 페이지로 이동하기</span>
									<svg class="svg-icon" aria-hidden="true">
										<use xlink:href="#chevron-double-left-medium"></use>
									</svg>
								</button>
								<button class="button pagination__button button--link" title="이전 페이지로 이동하기" >
									<span class="hidden">이전 페이지로 이동하기</span>
									<svg class="svg-icon" aria-hidden="true">
										<use xlink:href="#chevron-left-medium"></use>
									</svg>
								</button>
								<ul class="pagination__list">
									<li class="pagination__item">
										<p class="pagination__link">1</p>
									</li>
									<li class="pagination__item">
										<p class="pagination__link">2</p>
									</li>
									<li class="pagination__item">
										<p class="pagination__link">3</p>
									</li>
									<li class="pagination__item">
										<p class="pagination__link">4</p>
									</li>
									<li class="pagination__item">
										<p class="pagination__link">5</p>
									</li>
								</ul>
								<button class="button pagination__button button--link" title="다음 페이지로 이동하기" >
									<span class="hidden">다음 페이지로 이동하기</span>
									<svg class="svg-icon" aria-hidden="true">
										<use xlink:href="#chevron-right-medium"></use>
									</svg>
								</button>
								<button class="button pagination__button button--link" title="마지막 페이지로 이동하기" >
									<span class="hidden">마지막 페이지로 이동하기</span>
									<svg class="svg-icon" aria-hidden="true">
										<use xlink:href="#chevron-double-right-medium"></use>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
