<!-- textarea -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Textarea</h3>
</div>
<div class="page-content">
  <div class="component">
    <span class="component__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <!-- default -->
          <label for="textarea-01" class="hidden">Label</label>
          <textarea type="text" id="textarea-01" class="text-area" placeholder="placeholder text"></textarea>
          <!-- filled -->
          <label for="textarea-02" class="hidden">Label</label>
          <textarea type="text" id="textarea-02" class="text-area" placeholder="placeholder text" style="margin-top: 8px;">textarea filled</textarea>
          <!-- disabled -->
          <label for="textarea-03" class="hidden">Label</label>
          <textarea type="text" id="textarea-03" class="text-area" placeholder="placeholder text" readonly style="margin-top: 8px;">textarea readonly</textarea>
          <!-- disabled -->
          <label for="textarea-04" class="hidden">Label</label>
          <textarea type="text" id="textarea-04" class="text-area" placeholder="placeholder text" disabled style="margin-top: 8px;"></textarea>
        </div>
      </div>
    </div>
  </div>

</div>
