<div class="component-content" id="tab">
  <strong class="component-content__title">
    Tab
  </strong>
  <div class="component">
    <p class="component__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, consequuntur? Nesciunt nulla totam velit? Eum nesciunt molestiae dolorum autem impedit.
    </p>
    <ul class="tab">
      <li class="tab__item">
        <button class="tab__button" type="button" title="tab1">
          <span class="tab__text">
            Tab1
          </span>
        </button>
      </li>
      <li class="tab__item">
        <button class="tab__button" type="button" title="tab2">
          <span class="tab__text">
            Tab2
          </span>
        </button>
      </li>
      <li class="tab__item">
        <button class="tab__button" type="button" title="tab3">
          <span class="tab__text">
            Tab3
          </span>
        </button>
      </li>
    </ul>

  </div>
</div>
