<!-- accordion -->
<div class="page-header">
	<strong class="page-header__lable">Component</strong>
	<h3 class="page-header__title">Accordion</h3>
</div>
<div class="page-content">

	<div class="component">
		<span class="component__name">Default</span>
		<div class="component__example">
			<div class="component__views">
				<div>
					<div class="component__contents">
						<p class="component__label">Size: lg</p>
						<div class="component__group">
							<div class="tab tab--horizontal tab--lg" role="tablist">
								<ul class="tab__bar">
									<!--      li 가 반복되는 형태 -->
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab1</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--selected">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab2</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab3</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab4</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--disabled">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab5</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="component__contents">
						<p class="component__label">Size: md</p>
						<div class="component__group">
							<div class="tab tab--horizontal" role="tablist">
								<ul class="tab__bar">
									<!--      li 가 반복되는 형태 -->
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab1</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--selected">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab2</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab3</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab4</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--disabled">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab5</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="component">
		<span class="component__name">Default Vertical</span>
		<div class="component__example">
			<div class="component__views">
				<div>
					<div class="component__contents">
						<p class="component__label">Size: lg</p>
						<div class="component__group">
							<div class="tab tab--vertical tab--lg" role="tablist">
								<ul class="tab__bar">
									<!--      li 가 반복되는 형태 -->
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab1</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--selected">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab2</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab3</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab4</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--disabled">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab5</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="component__contents">
						<p class="component__label">Size: md</p>
						<div class="component__group">
							<div class="tab tab--vertical" role="tablist">
								<ul class="tab__bar">
									<!--      li 가 반복되는 형태 -->
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab1</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--selected">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab2</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab3</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab4</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--disabled">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab5</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="component">
		<span class="component__name">Theme Fill</span>
		<div class="component__example">
			<div class="component__views">
				<div>
					<div class="component__contents">
						<p class="component__label">Size: lg</p>
						<div class="component__group">
							<div class="tab tab--fill tab--horizontal tab--lg" role="tablist">
								<ul class="tab__bar">
									<!--      li 가 반복되는 형태 -->
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab1</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--selected">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab2</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab3</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab4</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--disabled">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab5</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="component__contents">
						<p class="component__label">Size: md</p>
						<div class="component__group">
							<div class="tab tab--fill tab--horizontal" role="tablist">
								<ul class="tab__bar">
									<!--      li 가 반복되는 형태 -->
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab1</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--selected">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab2</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab3</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab4</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
									<li class="tab__item tab__item--disabled">
										<button type="button" class="tab__button" role="tab">
											<span class="tab__button-text">Tab5</span>
											<span class="tab__button-subtext">(234)</span>
										</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
