<!-- modal -->
<div class="page-header">
  <strong class="page-header__lable">component</strong>
  <h3 class="page-header__title">Modal</h3>
</div>
<div class="page-content">

  <div class="component">
    <span class="component__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="modal" style="position: static;" role="dialog" aria-modal="true">
            <div class="modal__head">
              <div class="modal__head-title">
                <span class="modal__head-title-text">Title</span>
                <span class="modal__head-subtitle">subtitle</span>
              </div>
              <div class="modal__head-close-button">
                <button class="button button--icon button--link button--sm" title="닫기">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="modal__body modal__body--sm">
              <p>modal contents modal contents modal contents modal contents</p>
            </div>
            <div class="modal__foot">
              <button class="button button--secondary button--lg" type="button">
                <span>초기화</span>
              </button>
              <button class="button button--danger button--lg" type="button">
                <span>삭제</span>
              </button>
              <div class="modal__foot-main-buttons">
                <button class="button button--link button--lg" type="button">
                  <span>취소</span>
                </button>
                <button class="button button--primary button--lg" type="button">
                  <span>저장</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
