<div class="side-nav__top-bar">
  <h1 class="side-nav__logo">
    <a class="side-nav__link" href="/views/index.html">Design Guide</a>
  </h1>
</div>
<div class="snb">
  <ul class="snb__list">
    <li class="snb__item">
      <p class="snb__title">Style</p>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--color">Color</a>
    </li>
    <li class="snb__item">
      <p class="snb__title">Component</p>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--button">Button</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--checkbox">Checkbox</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--loader">Loader</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--modal">Modal</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--notification">Notification</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--pagination">Pagination</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--progressbar">Progressbar</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--radio">Radio</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--steps">Steps</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--tag">Tag</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--text-input">Text Input</a>
    </li>
    <li class="snb__sub-item">
      <a class="snb__link" href="#page--textarea">Textarea</a>
    </li>
  </ul>
</div>
