<!-- snb -->
<div class="snb__top-container">
  <a class="snb__logo" href="/views/index.html"><em>IRIS</em> Design Guide</a>
</div>
<div class="snb__bottom-container">
  <ul class="snb__main-nav">
    <li class="main-nav-item">
      <p class="main-nav-item__heading">Style</p>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--button">Button</a>
    </li>

    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--checkbox">Checkbox</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--loader">Loader</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--modal">Modal</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--notification">Notification</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--pagination">Pagination</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--progressbar">Progressbar</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--radio">Radio</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--range">Range</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--select">Select</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--steps">Steps</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--tab">Tab</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--table">Table</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--tag">Tag</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--text-input">Text Input</a>
    </li>
    <li class="sub-nav__item">
      <a class="sub-nav__item-link" href="#page--textarea">Textarea</a>
    </li>
  </ul>
</div>
