<!-- style-color -->
<div class="page-header">
  <strong class="page-header__lable">style</strong>
  <h3 class="page-header__title">Color</h3>
</div>
<div class="page-content">
  <div class="component">
    <span class="component__name">Core Colors</span>
    <div class="component__example">
      <div class="color-card-wrap">
        <div class="color-card">
          <div class="color-card__example primary"></div>
          <p class="color-card__key">primary</p>
          <p class="color-card__value">#0c8ae5</p>
        </div>
        <div class="color-card">
          <div class="color-card__example secondary"></div>
          <p class="color-card__key">secondary</p>
          <p class="color-card__value">#091f63</p>
        </div>
        <div class="color-card">
          <div class="color-card__example tertiary"></div>
          <p class="color-card__key">tertiary</p>
          <p class="color-card__value">#07bccb</p>
        </div>
        <div class="color-card">
          <div class="color-card__example negative"></div>
          <p class="color-card__key">negative</p>
          <p class="color-card__value">#eb1000</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-01"></div>
          <p class="color-card__key">ui-01</p>
          <p class="color-card__value">#f7f8fa</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-02"></div>
          <p class="color-card__key">ui-02</p>
          <p class="color-card__value">#ffffff</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-03"></div>
          <p class="color-card__key">ui-03</p>
          <p class="color-card__value">#77889a</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-04"></div>
          <p class="color-card__key">ui-04</p>
          <p class="color-card__value">#dce1e8</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-01"></div>
          <p class="color-card__key">text-01</p>
          <p class="color-card__value">#212121</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-02"></div>
          <p class="color-card__key">text-02</p>
          <p class="color-card__value">#adadad</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-03"></div>
          <p class="color-card__key">text-03</p>
          <p class="color-card__value">#777777</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-04"></div>
          <p class="color-card__key">text-04</p>
          <p class="color-card__value">#ffffff</p>
        </div>
        <div class="color-card">
          <div class="color-card__example icon-01"></div>
          <p class="color-card__key">icon-01</p>
          <p class="color-card__value">#77889a</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-01"></div>
          <p class="color-card__key">support-01</p>
          <p class="color-card__value">#0747a6</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-02"></div>
          <p class="color-card__key">support-02</p>
          <p class="color-card__value">#00875a</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-03"></div>
          <p class="color-card__key">support-03</p>
          <p class="color-card__value">#ffab00</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-04"></div>
          <p class="color-card__key">support-04</p>
          <p class="color-card__value">#de350b</p>
        </div>
        <div class="color-card">
          <div class="color-card__example overlay-01"></div>
          <p class="color-card__key">overlay-01</p>
          <p class="color-card__value">rgba(#242e3d, .5)</p>
        </div>
        <div class="color-card">
          <div class="color-card__example overlay-02"></div>
          <p class="color-card__key">overlay-02</p>
          <p class="color-card__value">rgba($ui-02, 0.6)</p>
        </div>
      </div>
    </div>
  </div>
</div>
