
<!-- style-color -->
<div class="page-header">
  <h2 class="page-header__lable">style</h2>
  <h3 class="page-header__title">Color</h3>
</div>
<div class="page-content">
  <div class="component-variation">
    <span class="component-variation__name">Core Colors</span>
    <div class="component-example">
      <div class="color-card-wrap">
        <div class="color-card">
          <div class="color-card__example primary"></div>
          <p class="color-card__key">primary</p>
          <p class="color-card__value">#005acd</p>
        </div>
        <div class="color-card">
          <div class="color-card__example secondary"></div>
          <p class="color-card__key">secondary</p>
          <p class="color-card__value">#4daeff</p>
        </div>
        <div class="color-card">
          <div class="color-card__example negative"></div>
          <p class="color-card__key">negative</p>
          <p class="color-card__value">#ef594f</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-01"></div>
          <p class="color-card__key">ui-01</p>
          <p class="color-card__value">#f7f9fc</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-02"></div>
          <p class="color-card__key">ui-02</p>
          <p class="color-card__value">#ffffff</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-03"></div>
          <p class="color-card__key">ui-03</p>
          <p class="color-card__value">#b2bdcb</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-04"></div>
          <p class="color-card__key">ui-04</p>
          <p class="color-card__value">#dce1e8</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-01"></div>
          <p class="color-card__key">text-01</p>
          <p class="color-card__value">#212121</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-02"></div>
          <p class="color-card__key">text-02</p>
          <p class="color-card__value">#606974</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-03"></div>
          <p class="color-card__key">text-03</p>
          <p class="color-card__value">#77889a</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-04"></div>
          <p class="color-card__key">text-04</p>
          <p class="color-card__value">#ffffff</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-05"></div>
          <p class="color-card__key">text-05</p>
          <p class="color-card__value">#abafba</p>
        </div>
        <div class="color-card">
          <div class="color-card__example link"></div>
          <p class="color-card__key">link</p>
          <p class="color-card__value">#606974</p>
        </div>
        <div class="color-card">
          <div class="color-card__example icon-01"></div>
          <p class="color-card__key">icon-01</p>
          <p class="color-card__value">#77889a</p>
        </div>
        <div class="color-card">
          <div class="color-card__example icon-02"></div>
          <p class="color-card__key">icon-02</p>
          <p class="color-card__value">#005acd</p>
        </div>
        <div class="color-card">
          <div class="color-card__example inverse-01"></div>
          <p class="color-card__key">inverse-01</p>
          <p class="color-card__value">#ffffff</p>
        </div>
        <div class="color-card">
          <div class="color-card__example field-bg"></div>
          <p class="color-card__key">field-bg</p>
          <p class="color-card__value">#ffffff</p>
        </div>
        <div class="color-card">
          <div class="color-card__example field-border"></div>
          <p class="color-card__key">field-border</p>
          <p class="color-card__value">#dce1e8</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-01"></div>
          <p class="color-card__key">support-01</p>
          <p class="color-card__value">#0747a6</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-02"></div>
          <p class="color-card__key">support-02</p>
          <p class="color-card__value">#00875a</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-03"></div>
          <p class="color-card__key">support-03</p>
          <p class="color-card__value">#ffab00</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-04"></div>
          <p class="color-card__key">support-04</p>
          <p class="color-card__value">#de350b</p>
        </div>
        <div class="color-card">
          <div class="color-card__example overlay-01"></div>
          <p class="color-card__key">overlay-01</p>
          <p class="color-card__value">rgba(#242e3d, .5)</p>
        </div>
        <div class="color-card">
          <div class="color-card__example overlay-02"></div>
          <p class="color-card__key">overlay-02</p>
          <p class="color-card__value">rgba($ui-02, 0.6)</p>
        </div>
      </div>
    </div>
  </div>
</div>
