// Color Theme Variables
$ui-01: #f7f8fa !default;
$ui-02: #ffffff !default;
$ui-03: #77889a !default;
$ui-04: #dce1e8 !default;
$text-01: #212121 !default;
$text-02: #adadad !default;
$text-03: #777777 !default;
$text-04: #ffffff !default;
$icon-01: #77889a !default;
$support-01: #0747a6 !default;
$support-02: #00875a !default;
$support-03: #ffab00 !default;
$support-04: #de350b !default;
$overlay-01: rgba($text-01, 0.5) !default;
$overlay-02: rgba($ui-03, 0.6) !default;

// Interactive Token
$hover-ui-accent: #edf4ff !default;
$hover-row: #f0f3f6 !default;
$odd-row: #fafafa !default;
