@import "../utiles/helper-mixins";

.svg-icon {
  @include svg-icon-size(18px);
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  fill: $icon-01;
  color: $icon-01;
}

.img-icon {
  display: flex;
  flex-shrink: 0;
  width: rem(32px);
  height: rem(32px);
  // background: url("#{$img-path}/common/icon_map-type.png") no-repeat;
  content: "";
}
