// -------------------
// color
// -------------------
#page_color .component {
	margin-top: $spacing-lg;
}

.color-card-wrap {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: $spacing-lg;
	max-width: rem(800px);
	gap: $spacing-md;
}

.color-card {
	p {
		padding: 0;
	}

	&__example {
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(120px);
		height: rem(80px);
		margin-bottom: $spacing-sm;
		border-radius: 4px;
		border: 1px solid $ui-04;
	}

	&__key {
		@include font-size("14");
	}

	&__value {
		@include font-size("12");
		color: $text-02;
	}

	.primary {
		background-color: $primary;
	}

	.secondary {
		background-color: $secondary;
	}

	.tertiary {
		background-color: $tertiary;
	}

	.negative {
		background-color: $negative;
	}

	.ui-01 {
		background-color: $ui-01;
	}

	.ui-02 {
		background-color: $ui-02;
	}

	.ui-03 {
		background-color: $ui-03;
	}

	.ui-04 {
		background-color: $ui-04;
	}

	.text-01 {
		background-color: $text-01;
	}

	.text-02 {
		background-color: $text-02;
	}

	.text-03 {
		background-color: $text-03;
	}

	.text-04 {
		background-color: $text-04;
	}

	.icon-01 {
		background-color: $icon-01;
	}

	.support-01 {
		background-color: $support-01;
	}

	.support-02 {
		background-color: $support-02;
	}

	.support-03 {
		background-color: $support-03;
	}

	.support-04 {
		background-color: $support-04;
	}

	.overlay-01 {
		background-color: $overlay-01;
	}

	.overlay-02 {
		background-color: $overlay-02;
	}
}
