//--------------------
// Page layout
//--------------------
.layout {
  display: flex;
  flex-direction: row;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  position: relative;
  margin-left: rem(200px);
  width: calc(100% - 12.5rem);
  overflow-x: hidden;
}

.content {
  padding-bottom: $spacing-3xl;
  min-height: 100vh;
  width: 100%;
}

.footer {
  width: 100%;
  padding: rem(64px) $spacing-3xl $spacing-3xl;
  background-color: $ui-01;
  border-top: 1px solid $ui-03;

  &__version {
    @include font-size("12");
    color: $text-02;
  }

  &__copyright {
    @include font-size("12");
    color: $text-02;
  }
}

.page-header {
  align-items: flex-start;
  background-color: $ui-05;
  border-bottom: 1px solid $primary;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: flex-start;
  padding-bottom: 0;
  padding-left: 12.5%;
  padding-right: 12.5%;
  width: 100%;

  &::before {
    content: "";
    width: 100%;
    height: rem(1px);
    display: block;
    background-color: $ui-03;
    position: absolute;
    top: rem(-48px);
    left: 0;
  }

  &__lable {
    @include font-size("14");
    @include font-weight("regular");
    color: $text-02;
    margin: $spacing-3xl 0 $spacing-sm;
    white-space: nowrap;
    text-transform: capitalize;
  }

  &__title {
    @include letter-spacing;
    @include font-size("32");
    @include font-weight("medium");
    color: $text-01;
    margin-top: -$spacing-sm;
    padding: 0;
  }
}

.page-content {
  margin-bottom: $spacing-3xl;
  padding: 4rem 12.5%;
  width: 100%;
}

.page {
  &:not(:first-child) .page-header {
    border-top: 1px solid darken($ui-01, 12%);
  }
}

.component {
  margin: rem(96px) 0 rem(96px);

  &__name {
    @include font-size("24");
    @include font-weight("regular");
    position: relative;
    color: $text-01;
    margin-top: $spacing-3xl;
    padding: 1rem 0 1.5rem;

    &::before {
      content: "";
      width: rem(40px);
      height: rem(3px);
      display: block;
      background-color: $active-primary;
      position: absolute;
      top: -0.5rem;
      left: 0;
    }
  }

  &__example {
    width: 100%;
    max-width: 100%;
    display: block;
  }

  &__views {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: rem(200px);
    position: relative;
    padding: 2rem 2rem 2.5rem;
    margin: 1.5rem 0 0;
    background-color: $ui-02;
    color: $text-01;
    border: 1px solid $ui-04;

    > div + div {
      margin-left: $spacing-3xl;
    }
  }

  &__contents {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: $spacing-md;
    }
  }

  &__label {
    @include font-size("12");
    margin-right: $spacing-lg;
    width: rem(60px);
    color: $text-03;
    white-space: nowrap;
  }

  &__group {
    display: flex;
    align-items: center;

    > *:not(:last-child) {
      margin-right: $spacing-sm;
    }

    &--column {
      flex-direction: column;
      > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: $spacing-xs;
      }
    }
  }
}

.progressbar {
  width: rem(550px);
}

@include respond-to("breakpoint-lg") {
  .color-card-wrap {
    max-width: fit-content;
    width: 100%;
  }

  .color-card {
    flex: 1;
  }
  .component {
    &__contents {
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: $spacing-xl;
      }
    }

    &__label {
      margin-right: 0;
      margin-bottom: $spacing-md;
      text-align: center;
    }

    &__group {
      flex-direction: column;
      > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: $spacing-xs;
      }
    }
  }
}

@include respond-to("breakpoint-md") {
  .component {
    &__group {
      width: 100%;
    }

    .progressbar {
      width: 100%;
    }
  }

  .checkboxs,
  .radios,
  .checkbox-toggle {
    flex-direction: column;
    .checkbox,
    .radio {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: $spacing-xs;
      }
    }
  }
}
