//--------------------
// Page layout
//--------------------
.layout {
  display: flex;
  flex-direction: row;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  position: relative;
  margin-left: rem(200px);
  width: calc(100% - 12.5rem);
  overflow-x: hidden;
}

.content {
  padding-bottom: $spacing-3xl;
  min-height: 100vh;
  width: 100%;
}

.footer {
  // position: absolute;
  width: 100%;
  padding: rem(64px) $spacing-3xl $spacing-3xl;
  background-color: $ui-01;
  border-top: 1px solid $ui-04;
}

.footer__version {
  @include font-size("12");
  color: $text-02;
}

.footer__copyright {
  @include font-size("12");
  color: $text-02;
}
// content - article area
.page-header {
  align-items: flex-start;
  background-color: $ui-01;
  border-bottom: 1px solid $primary;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: flex-start;
  padding-bottom: 0;
  padding-left: 12.5%;
  padding-right: 12.5%;
  width: 100%;

  &::before {
    content: "";
    width: 100%;
    height: rem(1px);
    display: block;
    background-color: $ui-04;
    position: absolute;
    top: rem(-48px);
    left: 0;
  }
}

.page:not(:first-child) .page-header {
  border-top: 1px solid darken($ui-01, 12%);
}

.page-content {
  margin-bottom: $spacing-3xl;
  padding: 4rem 12.5%;
  width: 100%;
}

//--------------------
// Page styles
//--------------------

.page-header__lable {
  @include font-size("14");
  @include font-weight("regular");
  color: $text-02;
  margin: $spacing-3xl 0 $spacing-sm;
  white-space: nowrap;
  text-transform: capitalize;
}

.page-header__title {
  @include letter-spacing;
  @include font-size("32");
  @include font-weight("medium");
  color: $text-01;
  margin-top: -$spacing-sm;
  padding: 0;
}

.page__desc {
  @include font-smoothing;
  @include letter-spacing;
  @include font-size("16");
  @include line-height("body");
  max-width: rem(800px);
  color: $text-01;
  word-wrap: normal;
  font-weight: 600;
  padding-bottom: $spacing-xl;

  span {
    color: $primary;
  }
}

.page__usage {
  margin-bottom: $spacing-xl;
}

.md {
  @include font-size("14");
  @include line-height("body");
  color: $text-01;

  ul {
    list-style: disc;
    padding-left: $spacing-lg;
  }

  li {
    margin-bottom: $spacing-3xs;
  }
}

.component {
  margin: rem(96px) 0 rem(96px);
  &__name {
    @include font-size("24");
    @include font-weight("regular");
    position: relative;
    color: $text-01;
    margin-top: $spacing-3xl;
    padding: 1rem 0 1.5rem;

    &::before {
      content: "";
      width: rem(40px);
      height: rem(3px);
      display: block;
      background-color: $secondary;
      position: absolute;
      top: -0.5rem;
      left: 0;
    }
  }
}

//--------------------
// Component example Style
//--------------------

.component-example {
  width: 100%;
  max-width: 100%;
  display: block;
  // color: $white;
}

.component-example__live {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: rem(200px);
  position: relative;
  padding: 2rem 2rem 2.5rem;
  margin: 1.5rem 0 0;
  background-color: $ui-02;
  color: $text-01;
  border: 1px solid $ui-04;
}

.component-example__live > div + div {
  margin-left: $spacing-3xl;
}

.component-example__row {
  display: flex;
  align-items: center;
}

.component-example__row + .component-example__row {
  margin-top: $spacing-md;
}

.component-example__size-label {
  @include font-size("12");
  margin-right: $spacing-lg;
  width: rem(60px);
  color: $text-03;
  white-space: nowrap;
}

.component-examle__item-group {
  display: flex;
  align-items: center;
}

.accordion,
.description,
.drawer,
.list,
.progressbar,
.transfer,
.upload,
.upload-preview,
.upload-drag {
  width: rem(550px);
}

.drawer .description {
  width: 100%;
}

.progressbar {
  & ~ & {
    margin-top: $spacing-md;
  }
}

.tag + .tag,
.badge + .badge {
  margin-left: $spacing-xs;
}

.component-examle__item-group--row {
  flex-direction: column;
}

.component-examle__item-group > .button + .button,
.component-examle__item-group .context-menu + .context-menu,
.component-examle__item-group .select + .select,
.component-examle__item-group .toggle-switch + .toggle-switch,
.component-examle__item-group .toggle-button + .toggle-button,
.component-examle__item-group .tooltip-studio + .tooltip-studio,
.component-examle__item-group .table + .table {
  margin-left: $spacing-sm;
}

.component-examle__item-group > .text-input:not(:first-child),
.component-examle__item-group > .text-input-group:not(:first-child),
.component-examle__item-group > .text-input-group:not(:first-child) {
  margin-top: $spacing-xs;
}

.component-examle__item-group .text-input-group .text-input {
  margin: 0;
}

.component-examle__item-group--row .upload + .upload,
.component-examle__item-group--row .upload-alt + .upload-alt,
.component-examle__item-group--row .upload-preview + .upload-preview {
  margin-top: $spacing-xs;
}
