.gnb {
  display: flex;
  align-items: center;
  padding: $spacing-md $spacing-sm;
}

.gnb__link {
  @include font-weight("medium");
  padding: $spacing-2xs $spacing-xs;
  text-decoration: none;
  color: $text-01;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    color: $primary;
  }
}
