.promotion {
  &__header {
    z-index: z("float");
    position: relative;
    max-width: rem(400px);
    margin: 0 auto;
  }

  &__close-button {
    @include button-base;
    position: absolute;
    top: rem(23px);
    right: rem(17px);

    &-icon {
      width: rem(20.5px);
      height: rem(20.5px);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='43.25px' height='43.25px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(10, 14, 25)' stroke-width='1.5px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M1.269,1.272 L41.213,41.216 L1.269,1.272 Z'/%3E%3Cpath fill-rule='evenodd' stroke='rgb(10, 14, 25)' stroke-width='1.5px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M1.269,41.224 L41.213,1.280 L1.269,41.224 Z'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.mobility-logo {
  z-index: z("float");
  position: absolute;
  top: rem(70px);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  &__img {
    display: block;
    width: rem(49.5px);
    height: rem(17.5px);
    background-image: url(#{$img-path}/common/img-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
