.promotion {
  &__main {
    position: relative;
  }
}

.content {
  width: 100%;

  .inner {
    @include flex-center;
  }

  &__text {
    @include line-height("body");
  }

  &__inner {
    @include flex-center;
    position: relative;
    max-width: rem(400px);
    margin: 0 auto;
  }
}

.background {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-size: 100%;
  }
}

.promotion-list {
  &__item {
    position: relative;
    padding-left: rem(15px);

    &:not(:first-child) {
      margin-top: rem(12px);
    }

    &:before {
      @include font-size("13");
      @include font-weight("bold");
      content: ".";
      position: absolute;
      top: rem(-4px);
      left: rem(2px);
      color: $text-02;
    }
  }
  &__text {
    @include font-size("13");
    color: $text-02;
    letter-spacing: rem(0.3px);
    em {
      @include font-weight("bold");
    }
  }
}

// Retina - Android
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  .content {
    // background-color: red;
  }
}

// Retina - Apple, 고해상도 Android
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {
  .content {
    // background-color: blue;
  }
}
