@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  src: local("NotoSans-Light"),
    url("#{$font-path}/NotoSans-Light.woff2") format("woff2"),
    url("#{$font-path}/NotoSans-Light.woff") format("woff"),
    url("#{$font-path}/NotoSans-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSans-Regular"),
    url("#{$font-path}/NotoSans-Regular.woff2") format("woff2"),
    url("#{$font-path}/NotoSans-Regular.woff") format("woff"),
    url("#{$font-path}/NotoSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src: local("NotoSans-Medium"),
    url("#{$font-path}/NotoSans-Medium.woff2") format("woff2"),
    url("#{$font-path}/NotoSans-Medium.woff") format("woff"),
    url("#{$font-path}/NotoSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  src: local("NotoSans-Bold"),
    url("#{$font-path}/NotoSans-Bold.woff2") format("woff2"),
    url("#{$font-path}/NotoSans-Bold.woff") format("woff"),
    url("#{$font-path}/NotoSans-Bold.ttf") format("truetype");
  font-display: swap;
}
