// -------------------------
// Badge
// -------------------------
@mixin badge-theme($bg-color, $icon-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;
  .badge__icon {
    fill: $icon-color;
  }
}

.badge {
  @include font-family("sans");
  @include font-weight("medium");
  @include font-smoothing;
  @include letter-spacing;
  @include line-height("heading");
  @include font-size("12");
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: $default-height-sm;
  padding: 0 $spacing-2xs;
  white-space: nowrap;
  user-select: none;
  border-radius: $default-border-radius;
  background-color: $hover-row;
  color: $text-03;
  cursor: default;

  *:not(.hidden) + * {
    margin-left: $spacing-2xs;
  }

  &--icon {
    width: rem(24px);
    padding: rem(3px);
  }

  &__label {
    @include line-height("heading");
    @include font-weight("medium");
  }

  &--lg {
    @include font-size("14");
    height: rem(32px);
    padding: 0 $spacing-xs;

    &.badge--icon {
      width: rem(32px);
      padding: $spacing-2xs;
    }

    .badge__icon {
      width: rem(20px);
      height: rem(20px);
    }
  }

  &--sm {
    height: $default-height-xs;

    &.badge--icon {
      width: rem(18px);
      padding: 0;
    }

    .badge__icon {
      width: rem(12px);
      height: rem(12px);
    }
  }
  &--red {
    @include badge-theme(#ffd7d9, #da1e28, #da1e28);
  }

  &--cyan {
    @include badge-theme(#bae6ff, #0089c9, #0089c9);
  }

  &--green {
    @include badge-theme(#c4f5d1, #198038, #198038);
  }
  &--teal {
    @include badge-theme(#adf0f0, #007d79, #007d79);
  }

  &--purple {
    @include badge-theme(#decff5, #6929c4, #6929c4);
  }
}
