// -------------------------
// button-type
// -------------------------
@mixin button {
  @include button-base;
  height: $default-height-md;
  padding: 0 $spacing-sm;
  border-radius: $default-border-radius;
  text-align: center;

  .svg-icon {
    width: rem(20px);
    height: rem(20px);

    & + .button__text {
      margin-left: $spacing-2xs;
    }
  }

  &:focus-visible:not(:disabled) {
    outline: 1px dashed $text-01;
  }
}

@mixin button--icon($button--icon-padding, $icon-size) {
  padding: 0 $button--icon-padding - 1;

  .svg-icon {
    width: $icon-size;
    height: $icon-size;
  }
}

// -------------------------
// button-theme
// -------------------------
@mixin button-theme(
  $bg-color,
  $font-color,
  $hover-bg-color,
  $active-bg-color,
  $border-color: false
) {
  background-color: $bg-color;
  color: $font-color;

  &:hover:not(:disabled) {
    background-color: $hover-bg-color;
  }

  &:active:not(:disabled) {
    background-color: $active-bg-color;
  }

  .svg-icon {
    fill: $font-color;
  }

  @if ($border-color) {
    border-color: $border-color;
  }
}

@mixin button--primary {
  @include button-theme($primary, $ui-02, $hover-primary, $active-primary);
}

@mixin button--link {
  @include button-theme(transparent, $text-03, $ui-01, $ui-01);

  &:active:not(:disabled) {
    color: $primary;

    .svg-icon {
      fill: $primary;
    }
  }
}

@mixin button--negative {
  @include button-theme($negative, $ui-02, $hover-negative, $active-negative);
}

// -------------------------
// button-size
// -------------------------
@mixin button-size(
  $font-size,
  $button-height,
  $icon-size,
  $button-width: false
) {
  height: $button-height;
  font-size: $font-size;

  .svg-icon {
    width: $icon-size;
    height: $icon-size;

    & + .button__text {
      margin-left: $spacing-2xs;
    }
  }

  .button__text {
    & + .svg-icon {
      margin-left: $spacing-2xs;
    }
  }

  @if ($button-width) {
    width: $button-width;
  }
}

@mixin button-padding($padding-right, $padding-left) {
  padding-right: $padding-right;
  padding-left: $padding-left;
}

@mixin button--lg {
  @include button-size(15px, $default-height-lg, 24px);
  @include button-padding($spacing-md, $spacing-md);
}

@mixin button--sm {
  @include button-size(12px, $default-height-sm, 16px);
  @include button-padding($spacing-xs, $spacing-xs);
}

// -------------------------
// class
// -------------------------
.button {
  @include button;

  &--icon {
    @include button--icon(6px, 20px);
  }

  &--primary {
    @include button--primary;
  }

  &--link {
    @include button--link;
  }

  &--negative {
    @include button--negative;
  }

  &--lg {
    @include button--lg;

    .svg-icon + .button__text {
      margin-left: $spacing-xs * 0.75;
    }

    &.button--icon {
      @include button--icon(8px, 24px);
    }
  }

  &--sm {
    @include button--sm;

    &.button--icon {
      @include button--icon(4px, 16px);
    }
  }
}
