// -------------------------
// Pagenation
// -------------------------
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__button,
  &__link {
    @include button-base;
    @include font-weight("regular");
    width: rem(32px);
    height: rem(32px);
    background-color: transparent;
    border-radius: $default-border-radius;
    color: $text-02;
  }

  &__link {
    &:hover:not(:disabled) {
      background-color: $ui-01;
      color: $text-02;
    }

    &:focus,
    &:focus:hover {
      background-color: $primary;
      color: $ui-02;

      .svg-icon {
        fill: $ui-02;
      }
    }

    &--selected {
      background-color: $primary;
      color: $ui-02;

      .svg-icon {
        fill: $ui-02;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__ellipsis {
    display: block;
    padding: 0 $spacing-xs;
  }
}
