// -------------------------
// Tag
// -------------------------
.tag {
  @include button-base;
  @include font-size("12");
  height: rem(24px);
  padding: 0 $spacing-2xs;
  border-radius: $default-border-radius;
  background-color: $hover-row;
  color: $text-03;

  &:hover:not(:disabled) {
    background-color: darken($hover-row, 5%);
    color: $primary;
  }

  &:focus-visible:not(:disabled) {
    outline: 1px dashed $text-01;
  }

  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;

    .tag__remove-button:hover {
      fill: $icon-01;
    }
  }

  &__label {
    @include line-height("heading");
    @include font-weight("medium");
  }

  &__link {
    color: $text-03;
    text-decoration: none;

    &:focus-visible:not(:disabled) {
      outline: 1px dashed $text-01;
    }
  }

  &__delete-button {
    @include button-base;
    width: rem(14px);
    height: rem(14px);
    padding: 0;
    margin-left: $spacing-2xs;
    background-color: transparent;
    border-radius: $default-border-radius;

    .svg-icon {
      width: rem(14px);
      height: rem(14px);
      fill: $icon-01;
    }

    &:hover {
      background-color: rgba($primary, 0.15);
      .svg-icon {
        fill: $primary;
      }
    }

    &:focus-visible:not(:disabled) {
      outline: 1px dashed $text-01;
    }
  }

  &--lg {
    @include font-size("14");
    height: rem(32px);
    padding: 0 $spacing-xs;
  }

  &--sm {
    height: rem(18px);
  }
}

// -------------------------
// theme별 mixin
// -------------------------
@mixin tag-theme($bg-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;

  &:hover:not(:disabled) {
    background-color: darken($bg-color, 4%);
    color: $font-color;

    .tag__link {
      color: $font-color;
    }
  }

  &:disabled {
    .tag__remove-button:hover {
      fill: $font-color;
      background-color: transparent;
    }
  }

  .tag {
    &__link {
      color: $font-color;
    }

    &__delete-button {
      .svg-icon {
        fill: $font-color;
      }
      &:hover {
        background-color: rgba($font-color, 0.15);
        .svg-icon {
          fill: $font-color;
        }
      }
    }
  }
}

.tag--red {
  @include tag-theme(#ffd7d9, #da1e28);
}

.tag--red-deep {
  @include tag-theme(#ff676e, $ui-02);
}

.tag--cyan {
  @include tag-theme(#bae6ff, #0089c9);
}

.tag--cyan-deep {
  @include tag-theme(#4abdff, $ui-02);
}

.tag--green {
  @include tag-theme(#c4f5d1, #198038);
}

.tag--green-deep {
  @include tag-theme(#59d079, $ui-02);
}

.tag--teal {
  @include tag-theme(#adf0f0, #007d79);
}

.tag--teal-deep {
  @include tag-theme(#3de1e1, $ui-02);
}

.tag--purple {
  @include tag-theme(#decff5, #6929c4);
}

.tag--purple-deep {
  @include tag-theme(#a26aff, $ui-02);
}
