//----------------------------------------------
// Text input
// ---------------------------------------------
// mixins
@mixin text-input {
  @include font-family("sans");
  @include font-size("14");
  @include font-weight("regular");
  position: relative;
  background-color: $ui-02;
  width: 100%;
  height: rem(32px);
  padding: 0 $spacing-sm;
  color: $text-01;
  border: 1px solid $ui-03;
  border-radius: $default-border-radius;
  transition: all $duration-fast-01 motion(standard, productive);
  outline: none;

  //IE에서 input focus 시 생기는 clear button 제거
  &::-ms-clear {
    display: none;
  }

  &:hover {
    border-color: darken($ui-03, 15%);
  }

  &:active,
  &:focus {
    border-color: $active-primary;
    box-shadow: 0 0 rem(4px) rgba($active-primary, 0.65);
  }

  &:focus-visible {
    border-color: $ui-03;
    box-shadow: none;
  }

  // chrome에서 자동저장된 input의 배경컬러를 제어
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $ui-02 inset;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    cursor: not-allowed;
    background-color: $ui-02;
    border-color: $ui-03;
    opacity: 0.5;
    box-shadow: none;

    ~ .text-input-group__button {
      display: none;
    }
  }

  &[readonly],
  &[readonly]:hover,
  &[readonly]:focus {
    cursor: default;
    border-color: transparent;
    background-color: $ui-02;
    box-shadow: none;
  }

  &::placeholder {
    @include font-weight("light");
    color: $text-04;
  }
}

@mixin text-input--lg {
  @include font-size("16");
  padding: 0 $spacing-md;
  height: rem(40px);
}

@mixin text-input--sm {
  @include font-size("12");
  padding: 0 $spacing-xs;
  height: rem(24px);
}

// -------------------------
// classes
// -------------------------
.text-input {
  @include text-input;
}

.text-input--lg {
  @include text-input--lg;
}

.text-input--sm {
  @include text-input--sm;
}
