// -------------------------
// Textarea
// -------------------------
.text-area {
  @include font-size("14");
  @include font-family("sans");
  padding: $spacing-2xs $spacing-xs;
  width: 100%;
  min-width: rem(120px);
  min-height: rem(40px);
  color: $text-01;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  border-radius: $default-border-radius;
  transition: all $duration-fast-01 motion(standard, productive);
  outline: none;
  resize: vertical;

  &:hover {
    background-color: rgba($ui-02, 1);
    border-color: darken($ui-03, 15%);
  }

  &:active,
  &:focus {
    border-color: $active-primary;
    box-shadow: 0 0 rem(4px) rgba($active-primary, 0.65);
  }

  &:focus-visible {
    border-color: $ui-03;
    box-shadow: none;
    outline: 1px dashed $text-01;
  }

  // chrom에서 자동저장된 input의 배경컬러를 제어
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $ui-02 inset;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    cursor: not-allowed;
    border-color: $ui-03;
    background-color: $ui-02;
    opacity: 0.5;
    box-shadow: none;
  }

  &[readonly],
  &[readonly]:hover,
  &[readonly]:focus {
    cursor: default;
    border-color: $ui-03;
    background-color: $odd-row;
    box-shadow: none;
  }

  &::placeholder {
    @include font-weight("light");
    color: $text-04;
  }

  &--fixed {
    resize: none;
  }
}
