// Color Theme Variables
$primary: #005acd !default;
$secondary: #4daeff !default;
$negative: #ef594f !default;
$ui-01: #f7f9fc !default;
$ui-02: #ffffff !default;
$ui-03: #b2bdcb !default;
$ui-04: #dce1e8 !default;
$text-01: #212121 !default;
$text-02: #606974 !default;
$text-03: #77889a !default;
$text-04: #ffffff !default;
$text-05: #abafba !default;
$link: #606974 !default;
$icon-01: #77889a !default;
$icon-02: #005acd !default;
$inverse-01: #ffffff !default;
$field-bg: #ffffff !default;
$field-border: #dce1e8 !default;
$support-01: #0747a6 !default;
$support-02: #00875a !default;
$support-03: #ffab00 !default;
$support-04: #de350b !default;
$overlay-01: rgba(#242e3d, 0.5) !default;
$overlay-02: rgba($ui-02, 0.6) !default;

// Interactive Tokesn
$focus: $secondary !default;
$default-focus: #2684ff !default;
$hover-primary: #2678e1 !default;
$hover-secondary: #7cc4ff !default;
$hover-negative: #ff7e75 !default;
$hover-ui-accent: #edf4ff !default;
$hover-field-border: #b2bdcb !default;
$hover-row: #f0f3f6 !default;
$odd-row: #fafafa !default;
$active-primary: #0050b6 !default;
$active-secondary: #0088ff !default;
$active-negative: #e24d43 !default;
$active-danger: #e24d43 !default;
$active-ui-accent: #d9e8ff !default;
$disabled-01: #f0f3f6 !default;
$disabled-02: rgba(#abafba, 0.5) !default;

//common breadcrumb
$breadcrumb-text: $text-05 !default;
$breadcrumb-bg: $hover-row !default;
