.hidden {
  @include hidden;
}

.ir-pm {
  @include ir-pm;
}

.img-g {
  @include img-g;
}

.caption-out {
  @include caption-out;
}

.text-emphasis {
  @include font-weight("bold");
}

.svg-icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;
  fill: $icon-01;
  color: $icon-01;
}

.v-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > *:not(:last-child) {
    margin-bottom: $spacing-2xs;
  }

  & + & {
    margin-top: $spacing-2xs;
  }
}

.h-group {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: $spacing-2xs;
  }

  & + & {
    margin-left: $spacing-2xs;
  }
}

// -------------------------
// flex box
// -------------------------
.d-flex {
  display: flex;
}

.self-start {
  align-self: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

// -------------------------
// width, height
// -------------------------

.w-1_12 {
  width: 8.3333333333% !important;
}

.w-2_12 {
  width: 16.6666666667% !important;
}

.w-3_12 {
  width: 25% !important;
}

.w-4_12 {
  width: 33.3333333333% !important;
}

.w-5_12 {
  width: 41.6666666667% !important;
}

.w-6_12 {
  width: 50% !important;
}

.w-7_12 {
  width: 58.3333333333% !important;
}

.w-8_12 {
  width: 66.6666666667% !important;
}

.w-9_12 {
  width: 75% !important;
}

.w-10_12 {
  width: 83.3333333333% !important;
}

.w-11_12 {
  width: 91.6666666667% !important;
}

.w-12_12 {
  width: 100% !important;
}

// -------------------------
// overflow
// -------------------------
.overflow-auto {
  overflow: auto;
}

.overflow-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.overflow-x {
  overflow-x: auto;
  overflow-y: hidden;
}

// -------------------------
// font-style
// -------------------------

.text-bold,
.text-bold p {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-line {
  text-decoration: line-through;
}

.text-two-line {
  text-decoration: underline line-through;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-top {
  vertical-align: top;
}

.text-middle {
  vertical-align: middle;
}

.text-bottom {
  vertical-align: bottom;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.break-all {
  word-break: break-all;
}

.text-negative {
  color: $negative;
}

.caption-out {
  @include caption-out;
}
