// -------------------------
// Accordion
// -------------------------
.accordion {
	border: 1px solid $ui-04;

	&__head {
		@include button-base;
		justify-content: flex-start;
		width: 100%;
		height: rem(32px);
		padding: $spacing-2xs $spacing-xs;
		background-color: $hover-row;

		&-icon {
			@include svg-icon-size(24px);
			transition: all $duration-fast-02 motion(entrance, productive);

			+ .accordion__head-title {
				margin-left: $spacing-2xs;
			}

			&--right {
				margin-left: auto;
				transform: rotate(180deg);
			}
		}

		&-title {
			@include font-size("14");
			@include font-weight("medium");
			@include line-height("title");
			display: flex;
			flex-grow: 1;
			text-align: left;
			color: $text-03;

			.v-tooltip {
				margin-left: $spacing-2xs;
			}
		}

		&-title-text {
			@include ellipsis;
			@include font-size("14");
			@include font-weight("medium");
			@include line-height("title");
			color: $text-02;
		}

		&-subtitle {
			@include font-weight("regular");
			@include line-height("title");
			margin-left: $spacing-2xs;
			color: $text-02;
		}

		&--open {
			.accordion__head-icon {
				transform: rotate(-90deg);

				&--right {
					transform: rotate(0deg);
				}
			}

			+ .accordion__body {
				display: block;
			}
		}
	}

	&__body {
		display: none;
		background-color: $ui-02;
		border-bottom: 1px solid $ui-04;
		&--horizontal {
			padding: $spacing-xs;
		}
	}

	&__item:last-child &__body {
		border-bottom-width: 0;
	}
	&--lg {
		.accordion__body--horizontal {
			.toggle-button__item {
				height: rem(74px);
				padding: $spacing-xs $spacing-2xs;

				.toggle-button__icon {
					width: rem(36px);
					height: rem(36px);
				}
			}
		}
	}
}

.accordion-default {
	@include list;

	&__text {
		@include ellipsis;
		width: 100%;
		margin: 0;
	}

	&__item + &__item {
		border-top: 1px solid $ui-04;
	}
}
