.search-group {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  flex-wrap: wrap;
  gap: $spacing-sm;
  padding: $spacing-md;
  background-color: $ui-01;

  .text-input-group {
    flex-grow: 1;
  }
}
