.search-group {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  padding: $spacing-md;
  background-color: $ui-01;

  > *:not(:last-child) {
    margin-right: $spacing-sm;
  }

  .text-input-group {
    flex-grow: 1;
  }
}
