// -------------------------
// Tab
// -------------------------
.tab {
  &__bar {
    position: relative;
    display: flex;
    border-right: 0;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: rem(40px);
    transition-duration: $duration-fast-02;
    transition-timing-function: ease-in-out;

    &:hover {
      .tab__button-text,
      .tab__button-subtext {
        color: $secondary;
      }
    }

    &--selected {
      .tab__button {
        &:focus:not(:disabled) {
          .tab__button-text,
          .tab__button-subtext {
            color: $secondary;
          }
        }
        &-text,
        &-subtext {
          color: $secondary;
        }
      }

      &:hover {
        .tab__button-text,
        .tab__button-subtext {
          color: $secondary;
        }
      }

      &.tab__item--selected::after {
        content: "";
        position: absolute;
        background-color: $secondary;
      }
    }
    &--disabled {
      .tab__button {
        opacity: 0.6;
        cursor: not-allowed;
      }

      &:hover {
        .tab__button-text,
        .tab__button-subtext {
          color: $text-02;
        }
      }
    }
  }

  &__button {
    @include button-base;
    @include stable-padding(0, $spacing-sm);
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: transparent;

    &:focus:not(:disabled)s {
      .tab__button-text,
      .tab__button-subtext {
        color: $secondary;
      }
    }
    &-text {
      @include ellipsis;
      color: $text-02;
    }
    &-subtext {
      @include font-size("15");
      display: inline-block;
      margin-left: $spacing-2xs;
      color: $text-03;
    }
  }

  // -------------------------
  // modifier: horizontal
  // -------------------------
  &--horizontal {
    .tab {
      &__bar:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(2px);
        background: $ui-04;
      }

      &__item {
        padding-bottom: $spacing-3xs;
      }

      &__item--selected::after {
        z-index: z("float");
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(2px);
      }

      &__item--selected,
      &__item--selected + &__item {
        border-left-color: transparent;
      }

      &__button {
        justify-content: center;
      }
    }
  }

  // -------------------------
  // modifier: vertical
  // -------------------------
  &--vertical {
    .tab {
      &__bar {
        flex-direction: column;
        border-right: 2px solid $ui-04;
      }

      &__item--selected::after {
        top: 0;
        right: rem(-2px);
        width: rem(2px);
        height: 100%;
      }

      &__button {
        justify-content: flex-start;
      }
    }
  }

  // -------------------------
  // modifier: flat theme
  // -------------------------
  &--fill {
    .tab {
      &__bar:after {
        content: none;
      }

      &__item {
        background-color: $ui-01;
        border: none;

        &:hover {
          background-color: darken($ui-01, 6%);
        }
      }

      &__button {
        justify-content: center;
      }

      &__button-text {
        color: $secondary;
      }

      &__button-subtext {
        color: $secondary;
      }

      &__item--disabled {
        &:hover {
          background-color: $ui-01;

          .tab__button-text,
          .tab__button-subtext {
            color: $secondary;
          }
        }
      }

      &__item--selected {
        background-color: $secondary;
        border-bottom-color: transparent;
        border-left-color: transparent;

        .tab__button {
          &:focus:not(:disabled) {
            .tab__button-text,
            .tab__button-subtext {
              color: $text-04;
            }
          }
        }
        .tab__button-text,
        .tab__button-subtext {
          color: $text-04;
        }

        &:hover {
          background-color: $secondary;
          .tab__button-text,
          .tab__button-subtext {
            color: $text-04;
          }
        }

        &::after {
          display: none;
        }
      }
    }

    &.tab--vertical {
      .tab {
        &__bar {
          border: none;
        }
        &__item {
          border: none;
        }
      }
    }

    &.tab--horizontal {
      .tab__item {
        justify-content: center;
      }
    }
  }
  // ---------------
  // modifier: tab--pagination
  // ---------------
  &--pagination {
    margin: 0 $spacing-lg;

    .tab {
      &__item {
        height: rem(32px);
      }

      &__button-text {
        @include font-size("12");
      }

      &__previous-button {
        position: absolute;
        top: 50%;
        left: rem(-24px);
        margin-top: -$spacing-sm;
      }

      &__next-button {
        position: absolute;
        top: 50%;
        right: rem(-24px);
        margin-top: -$spacing-sm;
      }

      &__bar-wrap {
        overflow: hidden;
      }

      &__item {
        height: rem(32px);
        flex: 0 1 auto;
      }
    }
  }

  &--lg {
    .tab {
      &__item {
        height: rem(58px);
      }
      &__button {
        @include stable-padding(0, $spacing-xl);

        &-text {
          @include font-size("18");
        }
      }
    }
  }
}
