//-------------------------------------------
//  Variables
// ------------------------------------------

// file path
$img-path: "../images" !default;
$font-path: "../fonts" !default;

$default-border-radius: 2px !default;

$default-height-lg: 40px !default;
$default-height-md: 32px !default;
$default-height-sm: 24px !default;
